* {
  box-sizing: border-box
}

#journey-widgetbody {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0
}

#journey-widget .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative
}

#journey-widget .container::after {
  content: "";
  background-image: url(BG.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px)
}

#journey-widget .mainContainerOuter {
  background: #000 !important
}

#journey-widget .button-controls {
  background: 0 0 !important;
  border: none !important
}

#journey-widget .d-flex {
  display: flex
}

#journey-widget .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#journey-widget .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#journey-widget .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #journey-widget .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#journey-widget .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#journey-widget .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#journey-widget .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#journey-widget .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#journey-widget .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#journey-widget .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#journey-widget .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#journey-widget .wdgetTitle h2 {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  background: #1e6bef;
  padding: 5px 20px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #099eed;
  background: linear-gradient(90deg, #099eed 0, #1779e6 48%, #09f 100%)
}

#journey-widget .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: #ccc
}
/* history style  */
#journey-widget .svg-container{
  width: 100%;
  height: 100%;
  z-index: 1;
}
#journey-widget svg{
    width: 100% !important;
    height: 100%;
} 

#journey-widget .time-line-tetx{
  color:white;
  font-family:Roboto;
  font-size:25px;
  font-weight:bold;
  text-align:center;
  filter: drop-shadow(0 3px 6px #000);
}
#journey-widget #instructions{
  filter: drop-shadow(0 3px 6px #000);
}
#journey-widget .time-line-tetx{
  color: #fff;
}
#journey-widget #year-calculation-wrapper{
  display: none;
}
#journey-widget #year-calculation-wrapper{
  /* transform: scale(0.8); */
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: visible;
}
#journey-widget #year-calculation-wrapper.show-animation{
  /* transform: scale(1); */
  transition: all .4s ease-in-out;
  opacity: 1;
  visibility: visible;
}
#journey-widget .event-image{
  transition: all .4s ease-in-out;
  transform: translateY(40px);
  opacity: 0;
  visibility: hidden;
}

#journey-widget .event-image.active{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
#journey-widget #left-show-image img{
  width: 100%;
}
#journey-widget  .primary-color{
  color: #FFF700;
}
#journey-widget  .secondary-color{
  color: #FFAA00;
}
#journey-widget #minus-one{
  color: #fff;
}