/* body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#canvas-container {
    position: relative;
} */

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canvas-container {
    position: relative;
    /* width: 100%; */
    max-width: 800px;

    canvas {
        max-width: 100%;
        height: auto !important;
    }

    /* background-color:rgb(223, 183, 125); */
}

/* button {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff; 
    color: rgb(163, 62, 222);
    border: none;
    border-radius: 5px;
} */

/* button:hover {
    background-color: #ad71ee;
}  */
/* h2{
    display: flex;
    justify-content: center; 
} */
