/* body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: #f0f0f0;
}
*/
#canvas-container {
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: calc(100% - 40px);
    
} 


body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* button {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff; 
    color: rgb(163, 62, 222);
    border: none;
    border-radius: 5px;
} */

/* button:hover {
    background-color: #ad71ee;
}  */
/* h2{
    display: flex;
    justify-content: center; 
} */
