*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}

svg * {
  -webkit-tap-highlight-color: transparent;
}

#world-war body {
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #D0BD9F !important;
}

#world-war .mainContainerOuter {
  background-color: #D0BD9F !important;
}

#world-war .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#world-war .container::after {
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#world-war .container.step-1::after {
  background-image: url("../assets/step-one-bg.png");
}

#world-war .container.step-2::after {
  background-image: url("../assets/step-two-bg.png");
}

#world-war .button-controls {
  background: 0 0 !important;
  border: none !important
}

#world-war .d-flex {
  display: flex
}

#world-war .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#world-war .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#world-war .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #world-war .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#world-war .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#world-war .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#world-war .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#world-war .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#world-war .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#world-war .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#world-war .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#world-war .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #AF4C00;
  white-space: nowrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}

#world-war .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: rgb(0 0 0 / 20%);
}

#world-war .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#world-war .svg-main {
  width: 100% !important;
  height: 100% !important;
}

/* world war style  */
.itext-note {
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

.itext-note.small {
  font-size: 30px;
  font-style: italic;
}

.itext-note strong {
  font-weight: 500;
}

.war-description p {
  font-size: 30px;
  color: #FFF0A6;
  text-align: center;
  line-height: 1.4;
}

.map-wrapper {
  background-color: #93CFE5;
  position: relative;

}

.flag-wrapper {
  display: flex;
  font-size: 30px;
  gap: 15px;
  padding: 15px;
  justify-content: center;
  background-color: #FDE7C4;
  position: relative;

}

.flag-wrapper .flag-txt {
  font-style: italic;
  line-height: 1.2;
}

.flag-wrapper ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.map-wrapper svg {
  overflow: visible;
}

.selected-year-box {
  background-color: #000;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: #FDF7BB;
  font-size: 32px;
  font-weight: 600;
}

.legent-img {
  width: 304px;
  height: 335px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.mapLogo-img {
  width: 294.72px;
  height: 55.01px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.mapScale-img {
  width: 103.49px;
  height: 25.1px;
  position: absolute;
  bottom: 40px;
  right: 52px;
}

.mapHome-img {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -22px;
  right: 40px;
  cursor: pointer;
}

.map-container {
  display: flex;
}

.right-col .question-text {
  font-size: 30px;
  padding: 20px;
  background-color: #fff;
  line-height: 1.2;
  border: 5px solid #F37021;
}

.clue-wrapper {
  padding: 0;
  margin: 10px 0 0 0;
  list-style-type: none;
}

.clue-wrapper li {
  background-image: url("../assets/clue-card.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 119px;
  width: 249px;
  margin: 0 auto;
}

.clue-wrapper li.active {
  filter: drop-shadow(4px 6px 0px #F37021);
}

.show-msg-wrapper {
  position: relative;
  border: 2px solid #9D5900;
  padding: 20px;
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 810px;
  background-color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
}

.show-msg-wrapper p {
  font-size: 30px;
  line-height: 1.2;
}

.close-btn {
  background-image: url("../assets/close-btn.svg");
  background-size: 100%;
  background-position: center;
  height: 80px;
  width: 80px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-repeat: no-repeat;
  display: block;
  cursor: pointer;
}

.show-msg-wrapper.hint {
  background-color: #F2C224;
}

.action-btn {
  padding: 25px 35px;
  border-radius: 50px;
  font-size: 35px;
  color: #fff;
  white-space: nowrap;
}

.action-btn.active {
  animation-name: blinking;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes blinking {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.action-btn.try-again {
  background-color: #FF2C68;
}

.action-btn.proceed {
  background-color: #4CAF50;
}

.location-wrapper {
  position: relative;
}

.location-label {
  position: absolute;
  display: block;
  color: #000;
  font-size: 18px;
  letter-spacing: 3px;
  padding: 4px 10px;
  white-space: nowrap;
  border-radius: 5px;
  font-weight: 500;
}

.location-wrapper.left {
  display: flex;
  justify-content: center;
}

.location-label.left {
  left: 10px;

}

.location-label.left::before {
  left: auto;
  right: -7px;
  border-right: none;
  border-left: 9px solid #f37021;
}

.country-label-wrap {
  font-size: 5px;
  position: relative;
  line-height: 1.2;
}

.clue-item.disabled {
  opacity: 0.4;
  pointer-events: none;
  text-decoration: line-through;
  cursor: default;
}

.show-msg-wrapper.hint.incorrect {
  background-color: #FFD5D5;
  border-color: #EC8A8A;
  left: 670px;
}

.show-msg-wrapper.hint.correct {
  background-color: #B8FFBF;
  border-color: #4CAF50;
}

.overview-container {
  background-color: #fff;
  border: 4px solid #BB682A;
  border-radius: 10px;
  padding: 30px 200px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.overview-container .overview-title {
  font-size: 40px;
  margin: 0 0 30px 0;
}

.overview-container .overview-description {
  line-height: 1.2;
  font-size: 28px;
  margin-bottom: 30px;
}

.country-list {
  display: flex;
}

.country-list .right-col {
  width: 50%;
}

.country-list .left-col {
  width: 50%;
  border-right: 2px dotted #000;
}

.country-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 28px;
}

.country-list ul li {
  margin-bottom: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.country-list ul li::before {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
}

.country-list .country-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}

.country-list .left-list {
  width: 50%;
  text-align: left;
  margin-left: auto;
  margin-right: 100px;
}

.country-list .right-list {
  width: 50%;
  text-align: left;
  margin-left: auto;
  margin-right: 160px;
}

.country-list .left-list li::before {
  background-color: #FF6F00;
}

.country-list .right-list li::before {
  background-color: #007608;
}

.country-list .left-list li {
  color: #FF6F00;
}

.country-list .right-list li {
  color: #007608;
}

.country-title.alllied {
  margin-left: -130px;
  color: #007608;
}

.country-title.central {
  color: #FF6F00;
}

.btn-wrapper {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: flex;
  gap: 20px;
  transform: translateX(-50%);
}

.btn-wrapper button {
  padding: 15px 50px !important;
  font-size: 30px;
  border-radius: 50px;
  font-weight: 600;
}

.btn-wrapper button.reset-btn {
  background-color: #FF2C68;
  color: #fff;
}

.btn-wrapper button.timeline-btn {
  background-color: #4CAF50;
  color: #fff;
}

.timeline-year.completed .status-tracker {
  stroke: #49BA62;
  stroke-width: 10;
}

.timeline-year .correct-icon {
  display: none;
}

.timeline-year.completed .correct-icon {
  display: block;
}

.placed-flag img {
  height: 100%;
  width: 100%;
}

.video-wrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg-video {
  background-color: #000;
  padding: 20px;
  border-radius: 20px;
}

#hintText {
  color: #000;
}

.war-description span {
  margin-top: 20px;
  display: block;
}

.replay-btn {
  background-color: #bb682a;
  color: #FFFAB9;
  padding: 15px 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}