*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}

svg * {
  -webkit-tap-highlight-color: transparent;
}

#swar-wrapper body {
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#swar-wrapper .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#swar-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#swar-wrapper .container::after {
  content: "";
  background-image: url("./../assets/bg.png");
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #swar-wrapper .mainContainerOuter {
  background: #60360D !important
} */

#swar-wrapper .button-controls {
  background: 0 0 !important;
  border: none !important
}

#swar-wrapper .d-flex {
  display: flex
}

#swar-wrapper .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#swar-wrapper .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#swar-wrapper .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #swar-wrapper .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#swar-wrapper .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#swar-wrapper .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#swar-wrapper .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#swar-wrapper .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#swar-wrapper .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#swar-wrapper .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#swar-wrapper .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 3;
}

#swar-wrapper .wdgetTitle h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #2967E3;
  white-space: nowrap;
}

#swar-wrapper .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: rgb(0 0 0 / 20%);
}

#swar-wrapper .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#swar-wrapper svg {
  width: 100% !important;
  height: 100%;
}

/* swar ki pehchan style */

.flower-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.flower-list li::before {
  content: "";
  background-image: url("../assets/flower-bg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 170px;
  width: 170px;
  position: absolute;
}

.flower-list li .text-wrap {
  z-index: 1;
  border: 7px solid transparent;
  border-radius: 50%;
  height: 62px;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1);
  background-color: #fff;
}

/* Correct Answer */
.option-flower.correct .text-wrap {
  border: 7px solid #4CAF50;
  pointer-events: none;
}

/* Wrong Answer */
.option-flower.incorrect .text-wrap {
  border: 7px solid #F44336;
  pointer-events: none;
}

.option-flower.incorrect::before {
  filter: brightness(0.5);
}

.option-flower.incorrect::after {
  filter: brightness(0.5);
}

.flower-list li {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 192px;
  width: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  z-index: 1;
  cursor: pointer;
}

.flower-bg.option-flower {
  position: relative;
}

.flower-bg.option-flower::after {
  content: "";
  background-image: url("../assets/flower-stem.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 210px;
  width: 210px;
  position: absolute;
  bottom: -198px;
}

.flower-list.optFlower-list {
  gap: 80px;
}

.flower-list.optFlower-list li:nth-child(2) {
  margin-top: 50px;
}

.flower-list.optFlower-list li:nth-child(4) {
  margin-top: 40px;
}

.i-text {
  font-size: 30px;
  font-weight: 500;
  color: #000;
  text-align: center;
  line-height: 1.4;
}

.trace-letter text {
  font-size: 30px;
  fill: none;
  stroke: #333;
  stroke-width: .5;
  stroke-dasharray: .1, 1;
  /* stroke-width: .5; */
  /* stroke-dasharray: .1, 1; */
  stroke-linecap: round;
  text-anchor: middle;
  dominant-baseline: middle;
}

.final-img.correct .trace-letter text {
  fill: #000;
  stroke: none;
  stroke-width: 0;
  stroke-dasharray: none;
}

.final-img {
  background-image: url("../assets/final-img.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 485px;
  width: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.lottie-wrapper {
  height: 100%;
  width: 100%;
}

.show-ans.disabled {
  opacity: 0.5;
  pointer-events: none;
}