*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}

#parlament-widgetbody {
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0
}

#parlament-widget .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative
}

#parlament-widget .container::after {
  content: "";
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#parlament-widget .mainContainerOuter {
  background: #60360D !important
}

#parlament-widget .button-controls {
  background: 0 0 !important;
  border: none !important
}

#parlament-widget .d-flex {
  display: flex
}

#parlament-widget .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#parlament-widget .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#parlament-widget .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #parlament-widget .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#parlament-widget .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#parlament-widget .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#parlament-widget .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#parlament-widget .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#parlament-widget .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#parlament-widget .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#parlament-widget .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#parlament-widget .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #AF4C00;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
  white-space: nowrap;
}

#parlament-widget .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: #ccc
}

#parlament-widget .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#parlament-widget svg {
  width: 100% !important;
  height: calc(100% - 40px);
}

/* parlament style  */

#parlament-widget .correct-answer>path {
  fill: #B8FFBF;
}

#parlament-widget .wrong-answer>path {
  fill: #FFD5D5;
}

#parlament-widget #parlament-groups .card-wrapper {
  position: relative;
}

#parlament-widget #parlament-groups .correct-icon {
  display: none;
}
#parlament-widget #parlament-groups .completed-icon {
  display: none;
}
#parlament-widget #parlament-groups .active .completed-icon {
  display: block;
}

#parlament-widget #parlament-groups .active.compare .correct-icon {
  display: block;
}

#parlament-widget .card-wrapper .compare .svg-image:nth-child(1) {
  outline: 8px solid #49BA62;
  border-radius: 16px;
}

#parlament-widget .block-wrapper.active path {
  fill: #EEFF00 !important;
}

#parlament-widget .block-wrapper.completed,
#parlament-widget #option-wrapper.correct-answer {
  opacity: .5;
  filter: grayscale(1);
  cursor: not-allowed !important;
  pointer-events: none;
}

#govimg-wrapper {
  position: relative;
}

#govimg-wrapper #lottie-animation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111111;
}