body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sketch-container canvas {
  max-width: 100%;
  height: auto !important;
  max-height: 100%!important;
  width: auto !important;
}

.controls {
  display: flex;
  gap: 10px;
  align-items: center;
}


canvas {
  background: white;
   /* margin-bottom: 20px; Add space between canvas and controls */
  order: 1;
}


input[type=range] {
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: auto;
}

input[type=range]::-moz-range-thumb {
  pointer-events: auto;
}




/* we want to shift the button at the down side */
/* #newProblemBtn1 {
  padding: 6px 12px;
  font-size: 16px;
  margin-left: 20px;

} */