*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}

svg * {
  -webkit-tap-highlight-color: transparent;
}

#swar-wrapper body {
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#swar-wrapper .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#swar-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#swar-wrapper .container::after {
  content: "";
  background-image: url("./../assets/bg.png");
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #swar-wrapper .mainContainerOuter {
  background: #60360D !important
} */

#swar-wrapper .button-controls {
  background: 0 0 !important;
  border: none !important
}

#swar-wrapper .d-flex {
  display: flex
}

#swar-wrapper .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#swar-wrapper .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#swar-wrapper .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #swar-wrapper .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#swar-wrapper .btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#swar-wrapper .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#swar-wrapper .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#swar-wrapper .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#swar-wrapper .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#swar-wrapper .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#swar-wrapper .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 3;
}

#swar-wrapper .wdgetTitle h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #2967E3;
  white-space: nowrap;
}

#swar-wrapper .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: rgb(0 0 0 / 20%);
}

#swar-wrapper .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#swar-wrapper svg {
  width: 100% !important;
  height: 100%;
}

/* swar ki pehchan style */

.i-text {
  font-size: 32px;
  color: #FFF35E;
  text-align: center;
  line-height: 1.4;
  font-style: italic;
}

.flask-container {
  height: 100%;
  width: 100%;
}

.number-wrapper {
  background-color: #22003C;
  border: 5px solid #D65C97;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 50px !important;
  justify-content: space-between;
}

.number-wrapper li {
  cursor: pointer;
}

.final-number {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
}

.flask-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 25px;
  clip-path: polygon(0% 100%, 99% 100%, 63% 0%, 37% 0%);
  overflow: hidden;
}

.flask-row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -10px; */
}

.flask-item {
  width: 83px;
  margin: 3px;
}

.flask-item.is-new {
  animation: dropIn 0.35s ease;
}

.flask-item img {
  width: 100%;
}

@keyframes dropIn {
  from {
    transform: translateY(-60px) scale(0.8);
    opacity: 0;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.flask-row.flask-row-2 {
  margin-bottom: -28px;
}

.flask-row.flask-row-3 {
  margin-bottom: -16px;
}

.flask-row.flask-row-2.active {
  margin-bottom: -17px;
}

/* Fade ONLY the options row item */
.number-wrapper li.used {
  opacity: 0.4;
  pointer-events: none;
  /* prevents re-click */
  transition: opacity 0.2s ease;
}

.note-wrapper {
  border: 6px dotted transparent;
  font-size: 30px;
  padding: 30px 20px 20px 20px;
  border-radius: 20px;
  position: relative;
  line-height: 1.2;
  text-align: center;
}

.note-wrapper.correct {
  border: 6px dotted #009306;
  background-color: #E9FFEA;
}

.note-wrapper.incorrect {
  border: 6px dotted #FF0000;
  background-color: #FFDCDC;
}

.note-wrapper.incorrect .ans-status,
.note-wrapper.incorrect .note-verdict {
  color: #FF0000;
  font-weight: 500;
}

.note-wrapper.correct .ans-status,
.note-wrapper.correct .note-verdict {
  color: #006B04;
  font-weight: 500;
}

.note-wrapper .lottie-anim {
  height: 240px;
  width: 240px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.note-verdict {
  margin-bottom: 20px;
}

.note-verdict,
.ans-status {
  text-align: center;
  font-size: 34px;
}

/* incorrect flask fills from bottom */
.incorrect-flask {
  display: flex;
  flex-direction: column-reverse;
  /* start filling from bottom */
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.incorrect-flask::before {
  content: "";
  background-image: url("../assets/cart-bg.svg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center 211px;
  height: 410px;
  width: 410px;
  position: absolute;
}

/* each row holds 4 balls */
.incorrect-row {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: -6px;
}

.incorrect-flask .flask-row.flask-row-2 {
  margin-bottom: -17px;
}

.incorrect-flask.active .flask-row.flask-row-2 {
  margin-bottom: -28px;
}

.number-wrapper li.disabled {
  opacity: 0.4;
  pointer-events: none;
  transition: 0.2s ease;
}

.factor-txt {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.factor-txt::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='82' viewBox='0 0 44 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M42.8431 0.918087C43.1341 1.20837 43.365 1.55322 43.5225 1.93288C43.6801 2.31253 43.7612 2.71954 43.7612 3.13059C43.7612 3.54163 43.6801 3.94864 43.5225 4.3283C43.365 4.70795 43.1341 5.0528 42.8431 5.34309L7.54933 40.6306L42.8431 75.9181C43.4299 76.5049 43.7595 77.3007 43.7595 78.1306C43.7595 78.9604 43.4299 79.7563 42.8431 80.3431C42.2563 80.9299 41.4604 81.2595 40.6306 81.2595C39.8007 81.2595 39.0049 80.9299 38.4181 80.3431L0.918084 42.8431C0.627064 42.5528 0.39617 42.2079 0.23863 41.8283C0.0810899 41.4486 0 41.0416 0 40.6306C0 40.2195 0.0810899 39.8125 0.23863 39.4329C0.39617 39.0532 0.627064 38.7084 0.918084 38.4181L38.4181 0.918087C38.7084 0.627066 39.0532 0.396173 39.4329 0.238633C39.8125 0.0810929 40.2195 0 40.6306 0C41.0416 0 41.4486 0.0810929 41.8283 0.238633C42.2079 0.396173 42.5528 0.627066 42.8431 0.918087Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
  position: absolute;
}

.factor-txt.factor-txt-2::before {
  top: -104px;
  left: 166px;
  transform: rotate(113deg);
}

.factor-txt.factor-txt-1::before {
  top: -59px;
  left: -134px;
  transform: rotate(31deg);
}

.factor-txt::after {
  content: "";
  height: 2px;
  width: 130px;
  position: absolute;
  background-color: #fff;
}

.factor-txt.factor-txt-1::after {
  top: -20px;
  left: -130px;
  transform: rotate(25deg);
}

.factor-txt.factor-txt-2::after {
  top: -50px;
  left: 110px;
  transform: rotate(112deg);
  width: 110px;

}