
*:focus, 
*:focus {
    outline: none !important; /* Removes the standard browser focus ring */
}

#phototropism-widget body {
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#phototropism-widget .container {
  user-select: none !important;
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative
}

#phototropism-widget .container::after {
  content: "";
  background-image: url("./assets/BG.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #phototropism-widget .mainContainerOuter {
  background: #60360D !important
} */

#phototropism-widget .button-controls {
  background: 0 0 !important;
  border: none !important
}

#phototropism-widget .d-flex {
  display: flex
}

#phototropism-widget .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#phototropism-widget .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#phototropism-widget .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #phototropism-widget .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#phototropism-widget .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#phototropism-widget .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#phototropism-widget .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#phototropism-widget .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#phototropism-widget .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#phototropism-widget .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#phototropism-widget .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#phototropism-widget .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #000;
  border-radius: 0 0px 20px 20px;
  background: #D7FD1C;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
  white-space: nowrap;
}

#phototropism-widget .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: #ccc
}

#phototropism-widget .svg-container{
  width: 100%;
  height: 100%;
  z-index: 1;
}
#phototropism-widget svg{
    width: 100% !important;
    height: 100%;
}

#play-btn{
  cursor: pointer;
}

#phototropism-widget #bulb-1.active .bulb-bg,
#phototropism-widget #bulb-2.active .bulb-bg,
#phototropism-widget #bulb-3.active .bulb-bg{
  fill: #FCEE21;
}

#phototropism-widget .bulb-rays{
  display: none;
  transition: all 0.3s ease-in-out;
}

#phototropism-widget #bulb-1.active .bulb-rays,
#phototropism-widget #bulb-2.active .bulb-rays,
#phototropism-widget #bulb-3.active .bulb-rays{
  display: block !important;
}

#position-1,
#position-2,
#position-3{
  cursor: pointer;
}

#position-1.active #Vector_2,
#position-2.active #Vector_4,
#position-3.active #Vector_6{
  fill: #02FFFF !important;
}