body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
/* 
.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 15px;
} */

h1 {
    text-align: center;
    margin-bottom: 15px;
}


button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

.controls {
    text-align: center;
    margin: 10px 0 0px;
}

canvas {
    max-width: 100%;
    height: auto !important;
    max-height: calc(100% - 250px) !important;
    width: auto !important;
  }

 .number-line-container{
    position: relative;
 } 