* {
  box-sizing: border-box;
  user-select: none;
  white-space: nowrap;
}
svg * {
  -webkit-tap-highlight-color: transparent;
}
#rhyme-widgetbody {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0
}

#rhyme-widget .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative
}

#rhyme-widget .container::after {
  content: "";
  background-image: url("Assets/Images/Final images/BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* filter: blur(5px) */
}

#rhyme-widget .mainContainerOuter {
  background: #000 !important
}

#rhyme-widget .button-controls {
  background: 0 0 !important;
  border: none !important
}

#rhyme-widget .d-flex {
  display: flex
}

#rhyme-widget .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#rhyme-widget .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#rhyme-widget .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #rhyme-widget .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#rhyme-widget .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#rhyme-widget .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#rhyme-widget .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#rhyme-widget .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#rhyme-widget .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#rhyme-widget .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#rhyme-widget .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#rhyme-widget .wdgetTitle h2 {
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  background: #af4c00;
  padding: 8px 40px;
  color: white;
  white-space: nowrap;
  border-radius: 0 0px 20px 20px;
}

#rhyme-widget .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: rgb(0 0 0 / 20%);
}
#rhyme-widget .svg-container{
  width: 100%;
  height: 100%;
  z-index: 1;
}
#rhyme-widget svg{
    width: 100% !important;
    height: 100%;
} 

.btn-wrap img{
  width: 100%;
  height: 100%;
}

.btn-wrap{
  position: relative;
}
.btn-wrap::before{
  font-size: 40px;
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
}
.btn-wrap.one::before{
  content: "a";
  color: #73c050;
}

.btn-wrap.two::before{
  content: "b";
  color: #e8b83f;
}
.btn-wrap.three::before{
  content: "c";
  color: #55beed;
}
.btn-wrap.four::before{
  content: "d";
  color: #b72c83;
}

#warning {
  display: none;
  color: red;
  font-weight: bold;
  /* add other styling here */
}

.line-wrapper {
  margin-bottom: 15px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  font-size: 38px;
  line-height: 1.2;

}

.clickable-word {
  /* border: 2px dashed #ccc;  */
  margin-left: 5px;
  padding: 0px 8px;
  /* border-radius: 4px; */
}

.svg-container #b tspan,.svg-container #b_2 tspan{
  fill: #e8b83f !important;
}