*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}
svg * {
  -webkit-tap-highlight-color: transparent;
}
#tally-marks body {
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#tally-marks .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#tally-marks .container::after {
  content: "";
  background-image: url("./../assets/BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #tally-marks .mainContainerOuter {
  background: #60360D !important
} */

#tally-marks .button-controls {
  background: 0 0 !important;
  border: none !important
}

#tally-marks .d-flex {
  display: flex
}

#tally-marks .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#tally-marks .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#tally-marks .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #tally-marks .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#tally-marks .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#tally-marks .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#tally-marks .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#tally-marks .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#tally-marks .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#tally-marks .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#tally-marks .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#tally-marks .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #4F0000;
  white-space: nowrap;
}

#tally-marks .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: rgb(0 0 0 / 20%);
}

#tally-marks .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#tally-marks svg {
  width: 100% !important;
  height: 100%;
}

/* tally mark style  */

.main-wrapper {
  display: flex;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.instruction-title {
  margin-bottom: 10px;
  font-weight: 600;
}

.left-col,
.right-col {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.right-col {
  background-color: #FFEDED;
  font-size: 25px;
}

.instruction-wrapper {
  font-size: 24px;
  color: #CD0000;
  padding: 10px 40px 0 40px;
  margin-bottom: 10px;
}

.instruction-wrapper ul {
  padding: 5px 20px 0px 20px;
  margin: 0;
}
.eraser-icon,
.pen-icon{
  background-repeat: no-repeat;
  height: 23px;
  width: 23px;
  display: inline-block;
}
.pen-icon{
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.391357 21.6891C0.141357 21.7491 -0.0986181 21.4791 0.0413819 21.1591C1.25138 18.5891 2.22145 15.8891 3.48145 13.3591C6.49145 10.3591 9.50137 7.3591 12.5314 4.3591C12.6514 4.2291 12.7315 4.2191 12.8615 4.3591C13.2115 4.7191 13.5714 5.0591 13.9314 5.4091C14.0314 5.5091 14.0214 5.56909 13.9314 5.66909C11.0514 8.54909 8.16138 11.4091 5.29138 14.3091C4.80138 14.6391 4.22138 14.8291 3.66138 15.1191C3.69138 14.7691 3.71146 14.4691 3.74146 14.1791C3.09146 15.3091 2.66141 16.7091 2.07141 17.9291C1.99141 18.0991 2.02142 18.1691 2.20142 18.2491C2.74142 18.4991 3.15138 18.8991 3.41138 19.4391C3.47138 19.5691 3.53137 19.5991 3.65137 19.5391C4.98137 18.9191 6.46143 18.4591 7.71143 17.7591C7.46143 17.8091 7.20142 17.8591 6.95142 17.9091C6.88142 17.9191 6.79146 17.9891 6.75146 17.9091C6.92146 16.9691 7.5014 16.1791 8.1814 15.4991C10.7814 12.9291 13.3614 10.3291 15.9414 7.7391C16.0814 7.5991 16.1714 7.5791 16.3214 7.7391C16.6414 8.0791 16.9814 8.3991 17.3414 8.7191C17.5014 8.8591 17.5014 8.9591 17.3414 9.0991C14.3614 12.0691 11.3914 15.0591 8.4314 18.0391C8.3314 18.1391 8.21141 18.2191 8.07141 18.2791' fill='%23CD0000'/%3E%3Cpath d='M17.7513 0C18.1113 0 18.5113 0.140007 18.8413 0.460007C19.6513 1.24001 20.4613 2.01 21.2513 2.81C22.8313 4.46 20.3513 5.89 19.3613 7.06C19.2413 7.18 19.1813 7.09 19.0913 7.02C17.5913 5.57 16.1013 4.09 14.6013 2.63C14.4713 2.51 14.4613 2.44 14.6013 2.31C15.2213 1.7 15.8413 1.09001 16.4513 0.480011C16.8013 0.140011 17.1713 0 17.7413 0H17.7513Z' fill='%23CD0000'/%3E%3Cpath d='M15.783 7.23941C13.043 10.1294 10.113 12.8894 7.34303 15.7694C6.74303 16.4294 5.82298 16.4694 5.03298 16.7994C4.98298 16.8094 4.93296 16.8594 4.89296 16.8194C4.84296 16.7794 4.89297 16.7294 4.90297 16.6794C5.13297 16.0194 5.35301 15.3594 5.57301 14.7094C5.61301 14.5894 5.70298 14.5094 5.79298 14.4194C8.61298 11.5994 11.4431 8.79941 14.2431 5.96941C14.3331 5.87941 14.383 5.84941 14.483 5.95941C14.903 6.39941 15.373 6.79941 15.783 7.24941V7.23941Z' fill='%23CD0000'/%3E%3Cpath d='M14.0821 2.84961C15.6821 4.25961 17.1521 5.85961 18.7221 7.33961C18.8721 7.47961 18.8821 7.5796 18.7221 7.7196C18.4821 7.9496 18.2421 8.1796 18.0221 8.4196C17.9221 8.5296 17.8522 8.5096 17.7522 8.4196C16.4722 7.1696 15.1921 5.9196 13.9121 4.6696C13.6721 4.4296 13.4321 4.18961 13.1821 3.95961C13.0921 3.87961 13.0821 3.81961 13.1721 3.72961C13.4821 3.43961 13.7621 3.11961 14.0921 2.84961H14.0821Z' fill='%23CD0000'/%3E%3C/svg%3E%0A");
}
.eraser-icon{
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15.8075C0 16.5475 0.290068 17.2475 0.820068 17.7775L4.34009 21.2975L10.0701 21.4375L22.26 9.24751C22.79 8.71751 23.0801 8.01751 23.0801 7.27751C23.0801 6.53751 22.79 5.83751 22.26 5.30751L17.77 0.8175C16.68 -0.2725 14.9201 -0.2725 13.8301 0.8175L0.820068 13.8275C0.290068 14.3575 0 15.0575 0 15.7975V15.8075ZM0.75 15.8075C0.75 15.2675 0.960088 14.7475 1.34009 14.3675L4.18005 11.5275C4.18005 11.5275 4.19007 11.5375 4.20007 11.5475L11.3301 18.6775C11.4101 18.7575 11.4901 18.8275 11.5601 18.8875L9.75 20.6975L4.64001 20.5675L1.33008 17.2575C0.950078 16.8775 0.73999 16.3675 0.73999 15.8175H0.75V15.8075Z' fill='%23CD0000'/%3E%3C/svg%3E%0A");
}
.selectwrap {
  display: flex;
  margin: 0 35px 0px 35px;
}
.tally-line.error {
  background-color: #000EC3; /* red */
}
.selectwrap select {
  flex: 1;
  margin-right: 10px;
  font-size: 25px;
  border: 2px solid #004897;
  border-radius: 10px;
  padding: 11px 10px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.94581 11.3621L0 14.3079L14.3076 28.6155L17.2534 25.6697L2.94581 11.3621Z' fill='%23004897'/%3E%3Cpath d='M28.6157 14.3079L25.6699 11.3621L11.3623 25.6697L14.3081 28.6155L28.6157 14.3079Z' fill='%23004897'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
#reset-all-count::before{
  display: none;
}
.selectwrap select option {
  font-size: 15px !important;
}

.btn-wrapper {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin: 0 53px 15px 35px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.common-btn {
  font-size: 25px;
  display: flex;
  align-items: center;
  background-color: #2196F3;
  position: relative;
}

.common-btn:hover {
  background-color: #2196F3 !important;
}

.common-btn::before {
  content: "";
  margin-right: 10px;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}

.common-btn.add-btn::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.422' height='31.422' viewBox='0 0 31.422 31.422'%3E%3Cg id='Group_1157' data-name='Group 1157' transform='translate(15.711 4) rotate(45)'%3E%3Cpath id='Path_1027' data-name='Path 1027' d='M0,0,16.562,16.562' transform='translate(0 0)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='4'/%3E%3Cpath id='Path_1028' data-name='Path 1028' d='M0,0,16.562,16.562' transform='translate(16.562 0) rotate(90)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E");
}

.common-btn.next-btn {
  padding-right: 60px;
}

.common-btn.next-btn::before {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5139_966' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='60' height='60'%3E%3Cpath d='M60 0H0V60H60V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5139_966)'%3E%3Cpath d='M30.033 -0.0649414C35.9731 -0.0649414 41.7797 1.69651 46.7186 4.99667C51.6576 8.29683 55.507 12.9875 57.7801 18.4754C60.0531 23.9633 60.6478 30.0021 59.4888 35.8279C58.3298 41.6538 55.4692 47.0052 51.2688 51.2053C47.0684 55.4054 41.7169 58.2656 35.8909 59.4242C30.065 60.5828 24.0263 59.9878 18.5385 57.7144C13.0507 55.4409 8.36033 51.5912 5.0605 46.652C1.76067 41.7129 -0.000395502 35.9061 6.66243e-08 29.9661C0.000530477 22.0012 3.16495 14.3627 8.79717 8.73081C14.4294 3.09897 22.0681 -0.0649414 30.033 -0.0649414Z' fill='%230068BB'/%3E%3Cpath d='M30.0339 7.68799C34.44 7.68838 38.747 8.9953 42.4103 11.4435C46.0737 13.8917 48.9288 17.3711 50.6147 21.4419C52.3005 25.5127 52.7414 29.992 51.8816 34.3134C51.0218 38.6348 48.8998 42.6042 45.7841 45.7196C42.6684 48.835 38.6988 50.9566 34.3774 51.8161C30.0559 52.6755 25.5767 52.2342 21.506 50.548C17.4354 48.8617 13.9561 46.0063 11.5083 42.3428C9.06042 38.6792 7.75391 34.3721 7.75391 29.966C7.75391 27.0402 8.33019 24.1431 9.44989 21.4401C10.5696 18.7371 12.2107 16.2811 14.2797 14.2123C16.3486 12.1436 18.8048 10.5027 21.5079 9.38321C24.211 8.26375 27.1081 7.68773 30.0339 7.68799Z' fill='%232196F3'/%3E%3Cpath d='M35.6649 25.6432L20.0781 41.23L24.4021 45.5539L39.9888 29.9672L35.6649 25.6432Z' fill='black'/%3E%3Cpath d='M24.4021 14.3801L20.0781 18.7041L35.6649 34.2909L39.9888 29.9669L24.4021 14.3801Z' fill='black'/%3E%3C/g%3E%3C/svg%3E%0A");
  position: absolute;
  right: -30px;
  height: 60px;
  width: 60px;
}

.common-btn.next-btn.previous-btn::before {
  transform: rotate(180deg);
  left: -30px;

}
.common-btn.next-btn.previous-btn{
  padding-left: 60px;
  padding-right: 20px;
}

#activity-title {
  font-size: 28px;
  font-weight: medium;
  background-color: #20E8EA;
  margin: 0 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
  text-align: center;
  line-height: 1.3;
}

.bottom-itext {
  font-size: 28px;
  color: #000;
  background-color: #FFFCE7;
  border: 1px solid #92100D;
  margin: 0 40px 20px 40px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 15px;
}

#list-container {
  margin: 20px auto;
  width: 690px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
}

#list-container li {
  padding: 10px 20px;
  background-color: #9DE8FF;
  border: 3px dotted #92100D;
  border-radius: 10px;
  width: 170px;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
  position: relative;
}

#list-container li.complete {
  opacity: .5;
}

#list-container li.complete::after {
  content: "";
  height: 215px;
  width: 4px;
  background-color: #FF0000;
  display: block;
  position: absolute;
  top: -84px;
  left: 104px;
  opacity: 1;
  transform: rotate(281deg);
}

#list-container.library li.complete::after {
  height: 109px;
  width: 4px;
  top: -20px;
  left: 42px;
  transform: rotate(304deg);
}

#list-container.library li {
  width: 50px;
  padding: 20px 20px;
}

#list-container.math-test li {
  width: 60px;
  padding: 20px 20px;
}

#list-container.math-test li {
  width: 60px;
  padding: 20px 20px;
}

#list-container.math-test li.complete::after {
  height: 118px;
  width: 4px;
  top: -25px;
  left: 47px;
  transform: rotate(304deg);
}

.table-main {
  font-size: 28px;
  /* border-collapse: collapse; */
  margin: 0 35px;
  border-radius: 15px;
}

.table-main tr th:nth-child(1) {
  border-top-left-radius: 20px;
  width: 26%;
}

.table-main tr th:nth-last-of-type(1) {
  border-top-right-radius: 20px;
}

.table-main tr th {
  background-color: #004897;
  color: #fff;
}

.table-main tr th,
.table-main tr td {
  padding: 10px 15px;
  border: none;
  font-weight: 500;
  text-align: center;
}

.action-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.675065 37.5695C0.245065 37.6795 -0.175032 37.2095 0.0749678 36.6595C2.17497 32.2095 3.85505 27.5295 6.03505 23.1395C11.2551 17.9395 16.465 12.7395 21.705 7.54953C21.915 7.32953 22.055 7.30953 22.275 7.54953C22.875 8.16953 23.505 8.76954 24.125 9.36954C24.305 9.54954 24.285 9.64952 24.125 9.81952C19.135 14.8095 14.1251 19.7695 9.16506 24.7795C8.31506 25.3595 7.30498 25.6795 6.33498 26.1895C6.38498 25.5895 6.42498 25.0695 6.46498 24.5595C5.33498 26.5095 4.59497 28.9495 3.57497 31.0595C3.44497 31.3495 3.48506 31.4695 3.79506 31.6095C4.73506 32.0395 5.44504 32.7395 5.89504 33.6795C5.99504 33.8995 6.09496 33.9495 6.31496 33.8495C8.61496 32.7695 11.175 31.9795 13.345 30.7595C12.905 30.8495 12.465 30.9295 12.025 31.0195C11.905 31.0395 11.7551 31.1495 11.6751 31.0295C11.9751 29.4095 12.975 28.0295 14.155 26.8595C18.665 22.4095 23.125 17.9095 27.595 13.4095C27.845 13.1595 27.985 13.1295 28.245 13.3995C28.805 13.9895 29.395 14.5495 30.005 15.0995C30.275 15.3495 30.275 15.5095 30.005 15.7595C24.845 20.9095 19.705 26.0795 14.565 31.2495C14.385 31.4295 14.185 31.5695 13.945 31.6695' fill='white'/%3E%3Cpath d='M30.765 0.00997925C31.395 0.00997925 32.085 0.249988 32.655 0.799988C34.055 2.14999 35.4549 3.49 36.8349 4.87C39.5649 7.73 35.2749 10.21 33.5649 12.23C33.3549 12.44 33.245 12.29 33.105 12.16C30.505 9.63997 27.9249 7.09 25.3249 4.56C25.1049 4.35 25.0849 4.23 25.3249 4C26.4049 2.95 27.465 1.87999 28.535 0.829987C29.135 0.239987 29.775 0 30.765 0V0.00997925Z' fill='white'/%3E%3Cpath d='M27.3462 12.5402C22.5962 17.5402 17.5263 22.3302 12.7263 27.3202C11.6863 28.4702 10.0863 28.5302 8.72625 29.1102C8.64625 29.1302 8.55626 29.2102 8.48626 29.1402C8.40626 29.0702 8.47628 28.9802 8.50628 28.9002C8.89628 27.7602 9.28631 26.6202 9.66631 25.4802C9.73631 25.2702 9.89632 25.1302 10.0463 24.9802C14.9263 20.1002 19.8262 15.2402 24.6862 10.3402C24.8362 10.1902 24.9363 10.1402 25.1063 10.3202C25.8363 11.0802 26.6463 11.7802 27.3563 12.5602V12.5402H27.3462Z' fill='white'/%3E%3Cpath d='M24.3963 4.93945C27.1763 7.37945 29.7163 10.1594 32.4263 12.7094C32.6863 12.9594 32.6963 13.1294 32.4263 13.3694C32.0063 13.7594 31.5962 14.1694 31.2062 14.5894C31.0262 14.7794 30.9163 14.7494 30.7463 14.5894C28.5363 12.4194 26.3163 10.2594 24.0963 8.09943C23.6763 7.68943 23.2562 7.26945 22.8262 6.86945C22.6762 6.72945 22.6462 6.62943 22.8062 6.47943C23.3462 5.97943 23.8263 5.41943 24.3963 4.94943V4.93945Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: 50%;
  background-color: #4CAF50;
}

.action-btn.minus-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='39' height='36' viewBox='0 0 39 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 26.15C0 27.38 0.479976 28.54 1.34998 29.41L7.17993 35.24L16.6599 35.48L36.84 15.3C37.71 14.43 38.1899 13.27 38.1899 12.04C38.1899 10.81 37.71 9.65002 36.84 8.78002L29.4099 1.35C27.6099 -0.45 24.69 -0.45 22.89 1.35L1.34998 22.89C0.479976 23.76 0 24.92 0 26.15ZM1.23999 26.15C1.23999 25.25 1.58997 24.4 2.21997 23.77L6.91992 19.07C6.91992 19.07 6.93995 19.09 6.94995 19.1L18.75 30.9C18.89 31.04 19.01 31.15 19.13 31.24L16.14 34.23L7.67993 34.02L2.19995 28.54C1.56995 27.91 1.21997 27.06 1.21997 26.16H1.23999V26.15Z' fill='white'/%3E%3C/svg%3E%0A");
  background-color: #E46A00;
}

.action-btn.del-btn {
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='35' viewBox='0 0 33 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5236_2964' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='33' height='35'%3E%3Cpath d='M32.5801 0H0V34.52H32.5801V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5236_2964)'%3E%3Cpath d='M30.9213 3.32974H23.9413L23.8313 1.79974C23.7613 0.789744 22.9113 0.00976562 21.9013 0.00976562H10.6713C9.66131 0.00976562 8.81125 0.789744 8.74125 1.79974L8.63127 3.32974H1.6613C0.741295 3.30974 -0.0186557 4.02977 -0.0386557 4.94977C-0.0586557 5.86977 0.661339 6.62975 1.58134 6.64975H30.9313C31.8513 6.62975 32.5713 5.86977 32.5513 4.94977C32.5313 4.06977 31.8213 3.34974 30.9313 3.32974' fill='white'/%3E%3Cpath d='M1.92188 7.91016L3.65186 31.5302C3.77186 33.2202 5.18183 34.5201 6.87183 34.5201H25.7219C27.4119 34.5201 28.8119 33.2102 28.9419 31.5302L30.6719 7.91016H1.92188ZM10.3918 29.0402H10.3419C9.96192 29.0402 9.65184 28.7501 9.63184 28.3701L8.69189 13.5501C8.66189 13.1601 8.95193 12.8202 9.35193 12.7902C9.74193 12.7602 10.0819 13.0502 10.1119 13.4502V13.4702L11.0519 28.2902C11.0719 28.6802 10.7818 29.0201 10.3818 29.0501M17.0018 28.3202C17.0018 28.7102 16.6819 29.0302 16.2919 29.0302C15.9019 29.0302 15.5819 28.7102 15.5819 28.3202V13.5102C15.5819 13.1202 15.9019 12.8001 16.2919 12.8001C16.6819 12.8001 17.0018 13.1202 17.0018 13.5102V28.3202ZM23.8918 13.5501L22.9519 28.3701C22.9319 28.7501 22.6218 29.0402 22.2418 29.0402H22.1919C21.8019 29.0102 21.5019 28.6802 21.5219 28.2802L22.4619 13.4601C22.4819 13.0701 22.8219 12.7602 23.2119 12.7902C23.6019 12.8202 23.9118 13.1502 23.8818 13.5402V13.5602' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #FF0000;
}

.table-main tbody tr:nth-child(1) {
  background-color: #F9FF9D;
}

.table-main tbody tr:nth-child(2) {
  background-color: #E9C3FF;
}

.table-main tbody tr:nth-child(3) {
  background-color: #FCD3A5;
}

.table-main tbody tr:nth-child(4) {
  background-color: #89FAAB;
}

.table-main tbody tr:nth-child(5) {
  background-color: #9DE8FF;
}

.table-main tbody tr:nth-last-of-type(1) {
  background-color: #004897;
  color: #fff;

}

.table-main tbody tr:nth-last-of-type(1) td:nth-child(1) {
  border-bottom-left-radius: 20px;
}

.table-main tbody tr:nth-last-of-type(1) td:nth-last-of-type(1) {
  border-bottom-right-radius: 20px;
}

.table-main tr td input {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #707070;
}

.tally-group {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.tally-line {
  width: 4px;
  height: 45px;
  background: #000EC3;
  margin-right: 6px;
}

.tally-cross {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: -18px;
}

.tally-cross::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 4px;
  background: #000EC3;
  top: 8px;
  left: -33px;
  transform: rotate(322deg);
}

.tally-cell {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
}

.message-modal {
  background-color: #FFFCA7;
  font-size: 35px;
  padding: 50px;
  font-weight: 500;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  height: 60px;
  text-align: center;
  line-height: 1.4;
  z-index: 1;
}

.message-modal.success-modal {
  border: 4px dotted #00640A;
  color: #00640A;
}

.message-modal.faillure-modal {
  border: 4px dotted #CD0000;
  color: #CD0000;
}

.left-col.active::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.showans-modal {
  background-color: #fff;
  width: 800px;
  height: 660px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 5px solid #4CAF50;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #424242;
}

.solution-header {
  background-color: #4CAF50;
  font-size: 35px;
  color: #fff;
  width: 270px;
  height: 70px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 600;
}

#close-btn {
  background-image: url("../assets/close-btn.svg");
  background-size: 100%;
  background-position: center;
  height: 100px;
  width: 100px;
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
}

#answer-table {
  margin-top: 40px;
}
.emoji-wrapper svg{
  position: absolute;
  left: 50%;
  top: -60px;
  transform: translateX(-50%) !important;
  height: 110px !important;
  width: 110px !important;
}

.close-modal-btn{
  background-image: url("../assets/close-btn.svg");
  background-size: 100%;
  background-position: center;
  height: 60px;
  width: 60px;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}
.showans-modal #close-btn{
  top: -35px;
  right: -40px;
  height: 70px;
  width: 70px;
}