body {
  font-family: sans-serif;
  text-align: center;
  margin-top : 0;
  padding: 0;
}
 h2{
    display: none   ;
 }

#canvas-holder {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

canvas {
  border: 1px solid #ccc;
  touch-action: none;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
}

#solution-output {
  margin-top: 12px;
  font-size: 18px;
}
