*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}

#resistance body {
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#resistance .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#resistance .container::after {
  content: "";
  background-image: url("./../assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #resistance .mainContainerOuter {
  background: #60360D !important
} */

#resistance .button-controls {
  background: 0 0 !important;
  border: none !important
}

#resistance .d-flex {
  display: flex
}

#resistance .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#resistance .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#resistance .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #resistance .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#resistance .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px;
}

#resistance .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#resistance .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#resistance .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#resistance .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#resistance .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#resistance .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#resistance .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #0295FC;
  white-space: nowrap;
}

#resistance .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: #bbb;
}

#resistance .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#resistance svg {
  width: 100% !important;
  height: 100%;
}

/* tally mark style  */

#slider-width {
  width: 1037px;
  margin-top: 37px;
}

#slider-height{
  height: 350px !important;
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.tilt-txt {
  font-size: 30px;
}

/* .noUi-pips.noUi-pips-horizontal {
  display: none;
} */

.noUi-handle.noUi-handle-lower {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='71' viewBox='0 0 38 71' fill='none'%3E%3Cpath d='M36.5 24.4106V63.4106C36.5 65.0619 35.6925 66.5981 34.2262 67.7361C32.8349 68.8159 30.9994 69.4106 29.0577 69.4106H8.44231C6.50062 69.4106 4.66507 68.8159 3.27378 67.7361C1.80751 66.5981 1 65.0619 1 63.4106L1 24.4106V24.4025L1.00013 24.3944C1.02942 22.5852 1.57776 20.5724 2.62991 18.4118C3.56471 16.4922 4.89754 14.4505 6.5914 12.3434C9.5972 8.60428 13.6286 4.79102 17.9428 1.60608L18.4857 1.2053L19.0606 1.55875C24.0139 4.6045 28.2753 8.28178 31.3842 12.1931C34.731 16.4037 36.5 20.6284 36.5 24.4106Z' fill='%2307E69A'/%3E%3Cpath d='M2 63.4106C2 66.172 4.88432 68.4106 8.44231 68.4106H29.0577C32.6157 68.4106 35.5 66.172 35.5 63.4106V24.4106C35.5 16.9481 28.0914 8.2856 18.5368 2.4106C10.6971 8.19808 2.11273 17.4481 2 24.4106L2 63.4106ZM0 63.4106L0.000259399 24.3782C0.0319405 22.4217 0.614189 20.2671 1.73085 17.974C2.69831 15.9873 4.07141 13.8821 5.812 11.7169C8.87017 7.91261 12.9674 4.03614 17.3489 0.801559L18.4347 0L19.5843 0.706909C24.6356 3.81287 28.9866 7.56955 32.167 11.5708C35.6559 15.9602 37.5 20.4001 37.5 24.4106V63.4106C37.5 65.3492 36.5302 67.2138 34.8393 68.5261C33.2736 69.7413 31.2203 70.4106 29.0577 70.4106H8.44231C6.27974 70.4106 4.22644 69.7413 2.66066 68.5261C0.969769 67.2138 0 65.3492 0 63.4106Z' fill='%232DB6B1'/%3E%3Cpath d='M5.66016 47.4106L16.6602 39.4106V55.4106L5.66016 47.4106Z' fill='white'/%3E%3Cpath d='M31.6602 47.4106L20.6602 55.4106V39.4106L31.6602 47.4106Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 65px !important;
  width: 65px !important;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  top: -33px !important;
  right: -32px !important;
  cursor: pointer;
}

.noUi-handle.noUi-handle-lower::after,
.noUi-handle.noUi-handle-lower::before {
  display: none;
}

.noUi-value.noUi-value-horizontal{
  display: none !important;
}
.noUi-value noUi-value-vertical noUi-value-sub{
  display: none !important;
}

.noUi-marker-horizontal.noUi-marker {
    top: -15px;
    background-color: #0DC7C7;
    z-index: 1;
  }
.noUi-marker.noUi-marker-horizontal.noUi-marker-large{
  display: none;
}

.noUi-connect {
  background: transparent !important;
}
.noUi-connects{

  background-color: #098B8B;
}

#slider-height .noUi-marker-vertical.noUi-marker{
  left: -15px;
  background-color: #0DC7C7;
  z-index: 1;
}
.noUi-value.noUi-value-vertical.noUi-value-sub,
.noUi-value.noUi-value-vertical.noUi-value-large{
  display: none !important;
}
#slider-height .noUi-handle.noUi-handle-lower {
  background-image: url("data:image/svg+xml,%3Csvg width='71' height='38' viewBox='0 0 71 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46 36.5H7C5.34865 36.5 3.81248 35.6925 2.67448 34.2262C1.59468 32.8349 1 30.9994 1 29.0577V8.44231C1 6.50062 1.59468 4.66507 2.67448 3.27378C3.81248 1.80751 5.34865 1 7 1H46H46.0081L46.0162 1.00013C47.8254 1.02942 49.8382 1.57776 51.9988 2.62991C53.9184 3.56471 55.9601 4.89754 58.0672 6.5914C61.8063 9.5972 65.6196 13.6286 68.8045 17.9428L69.2053 18.4857L68.8519 19.0606C65.8061 24.0139 62.1288 28.2753 58.2175 31.3842C54.0069 34.731 49.7822 36.5 46 36.5Z' fill='%2307E69A'/%3E%3Cpath d='M7 2C4.23857 2 2 4.88432 2 8.44231V29.0577C2 32.6157 4.23857 35.5 7 35.5H46C53.4625 35.5 62.125 28.0914 68 18.5368C62.2125 10.6971 52.9625 2.11273 46 2H7ZM7 0L46.0324 0.000259399C47.9888 0.0319405 50.1435 0.614189 52.4366 1.73085C54.4233 2.69831 56.5285 4.07141 58.6937 5.812C62.498 8.87017 66.3745 12.9674 69.609 17.3489L70.4106 18.4347L69.7037 19.5843C66.5977 24.6356 62.841 28.9866 58.8398 32.167C54.4504 35.6559 50.0105 37.5 46 37.5H7C5.06135 37.5 3.19682 36.5302 1.88449 34.8393C0.669258 33.2736 0 31.2203 0 29.0577V8.44231C0 6.27974 0.669258 4.22644 1.88449 2.66066C3.19682 0.969769 5.06135 0 7 0Z' fill='%232DB6B1'/%3E%3Cpath d='M23 5.6582L31 16.6582H15L23 5.6582Z' fill='white'/%3E%3Cpath d='M23 31.6582L15 20.6582H31L23 31.6582Z' fill='white'/%3E%3C/svg%3E%0A");
  /* transform: rotate(90deg); */
}

.metal-btn{
  background-size: 100% 100%;
  background-position: center center;
  border-radius: 0 !important;
  background-color: transparent !important;
  min-width: 120px;
}
.metal-btn.copper{
  background-image: url("../assets/copper-btn.png");
}
.metal-btn.aluminium{
  background-image: url("../assets/aluminium-btn.png");
}
.metal-btn.tungsten{
  background-image: url("../assets/tungsten-btn.png");
}