*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}
svg * {
  -webkit-tap-highlight-color: transparent;
}
#resistance body {
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#resistance .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#resistance .container::after {
  content: "";
  background-image: url("./../assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #resistance .mainContainerOuter {
  background: #60360D !important
} */

#resistance .button-controls {
  background: 0 0 !important;
  border: none !important
}

#resistance .d-flex {
  display: flex
}

#resistance .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#resistance .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#resistance .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #resistance .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#resistance .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px;
}

#resistance .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#resistance .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#resistance .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#resistance .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#resistance .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#resistance .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#resistance .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #0295FC;
  white-space: nowrap;
}

#resistance .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: #bbb;
}

#resistance .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#resistance svg {
  width: 100% !important;
  height: 100%;
}

/* tally mark style  */

#slider-width {
  width: 1037px;
  margin-top: 37px;
}

#slider-height{
  height: 350px !important;
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.tilt-txt {
  font-size: 30px;
}

/* .noUi-pips.noUi-pips-horizontal {
  display: none;
} */

.noUi-handle.noUi-handle-lower {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='71' viewBox='0 0 38 71' fill='none'%3E%3Cpath d='M36.5 24.4106V63.4106C36.5 65.0619 35.6925 66.5981 34.2262 67.7361C32.8349 68.8159 30.9994 69.4106 29.0577 69.4106H8.44231C6.50062 69.4106 4.66507 68.8159 3.27378 67.7361C1.80751 66.5981 1 65.0619 1 63.4106L1 24.4106V24.4025L1.00013 24.3944C1.02942 22.5852 1.57776 20.5724 2.62991 18.4118C3.56471 16.4922 4.89754 14.4505 6.5914 12.3434C9.5972 8.60428 13.6286 4.79102 17.9428 1.60608L18.4857 1.2053L19.0606 1.55875C24.0139 4.6045 28.2753 8.28178 31.3842 12.1931C34.731 16.4037 36.5 20.6284 36.5 24.4106Z' fill='%2307E69A'/%3E%3Cpath d='M2 63.4106C2 66.172 4.88432 68.4106 8.44231 68.4106H29.0577C32.6157 68.4106 35.5 66.172 35.5 63.4106V24.4106C35.5 16.9481 28.0914 8.2856 18.5368 2.4106C10.6971 8.19808 2.11273 17.4481 2 24.4106L2 63.4106ZM0 63.4106L0.000259399 24.3782C0.0319405 22.4217 0.614189 20.2671 1.73085 17.974C2.69831 15.9873 4.07141 13.8821 5.812 11.7169C8.87017 7.91261 12.9674 4.03614 17.3489 0.801559L18.4347 0L19.5843 0.706909C24.6356 3.81287 28.9866 7.56955 32.167 11.5708C35.6559 15.9602 37.5 20.4001 37.5 24.4106V63.4106C37.5 65.3492 36.5302 67.2138 34.8393 68.5261C33.2736 69.7413 31.2203 70.4106 29.0577 70.4106H8.44231C6.27974 70.4106 4.22644 69.7413 2.66066 68.5261C0.969769 67.2138 0 65.3492 0 63.4106Z' fill='%232DB6B1'/%3E%3Cpath d='M5.66016 47.4106L16.6602 39.4106V55.4106L5.66016 47.4106Z' fill='white'/%3E%3Cpath d='M31.6602 47.4106L20.6602 55.4106V39.4106L31.6602 47.4106Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 65px !important;
  width: 65px !important;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  top: -33px !important;
  right: -32px !important;
  cursor: pointer;
}

.noUi-handle.noUi-handle-lower::after,
.noUi-handle.noUi-handle-lower::before {
  display: none;
}

.noUi-value.noUi-value-horizontal{
  display: none !important;
}
.noUi-value noUi-value-vertical noUi-value-sub{
  display: none !important;
}

.noUi-marker-horizontal.noUi-marker {
    top: -15px;
    background-color: #0DC7C7;
    z-index: 1;
  }
.noUi-marker.noUi-marker-horizontal.noUi-marker-large{
  display: none;
}

.noUi-connect {
  background: transparent !important;
}
.noUi-connects{

  background-color: #098B8B;
}

#slider-height .noUi-marker-vertical.noUi-marker{
  left: -15px;
  background-color: #0DC7C7;
  z-index: 1;
}
.noUi-value.noUi-value-vertical.noUi-value-sub,
.noUi-value.noUi-value-vertical.noUi-value-large{
  display: none !important;
}
#slider-height .noUi-handle.noUi-handle-lower {
  background-image: url("data:image/svg+xml,%3Csvg width='71' height='38' viewBox='0 0 71 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46 36.5H7C5.34865 36.5 3.81248 35.6925 2.67448 34.2262C1.59468 32.8349 1 30.9994 1 29.0577V8.44231C1 6.50062 1.59468 4.66507 2.67448 3.27378C3.81248 1.80751 5.34865 1 7 1H46H46.0081L46.0162 1.00013C47.8254 1.02942 49.8382 1.57776 51.9988 2.62991C53.9184 3.56471 55.9601 4.89754 58.0672 6.5914C61.8063 9.5972 65.6196 13.6286 68.8045 17.9428L69.2053 18.4857L68.8519 19.0606C65.8061 24.0139 62.1288 28.2753 58.2175 31.3842C54.0069 34.731 49.7822 36.5 46 36.5Z' fill='%2307E69A'/%3E%3Cpath d='M7 2C4.23857 2 2 4.88432 2 8.44231V29.0577C2 32.6157 4.23857 35.5 7 35.5H46C53.4625 35.5 62.125 28.0914 68 18.5368C62.2125 10.6971 52.9625 2.11273 46 2H7ZM7 0L46.0324 0.000259399C47.9888 0.0319405 50.1435 0.614189 52.4366 1.73085C54.4233 2.69831 56.5285 4.07141 58.6937 5.812C62.498 8.87017 66.3745 12.9674 69.609 17.3489L70.4106 18.4347L69.7037 19.5843C66.5977 24.6356 62.841 28.9866 58.8398 32.167C54.4504 35.6559 50.0105 37.5 46 37.5H7C5.06135 37.5 3.19682 36.5302 1.88449 34.8393C0.669258 33.2736 0 31.2203 0 29.0577V8.44231C0 6.27974 0.669258 4.22644 1.88449 2.66066C3.19682 0.969769 5.06135 0 7 0Z' fill='%232DB6B1'/%3E%3Cpath d='M23 5.6582L31 16.6582H15L23 5.6582Z' fill='white'/%3E%3Cpath d='M23 31.6582L15 20.6582H31L23 31.6582Z' fill='white'/%3E%3C/svg%3E%0A");
  /* transform: rotate(90deg); */
}

.metal-btn{
  background-size: 100% 100%;
  background-position: center center;
  border-radius: 0 !important;
  background-color: transparent !important;
  min-width: 120px;
}
.metal-btn.copper{
  background-image: url("../assets/copper-btn.png");
}
.metal-btn.aluminium{
  background-image: url("../assets/aluminium-btn.png");
}
.metal-btn.tungsten{
  background-image: url("../assets/tungsten-btn.png");
}
.ans-note{
  font-size: 28px;
  padding: 20px 40px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ans-note .close-btn{
  background-image: url("../assets/close-btn.svg");
  background-size: 100% 100%;
  background-position: center center;
  height: 60px;
  width: 60px;
  position: absolute;
  top: -27px;
  right: -33px;
  cursor: pointer;
}

#particle-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #ccc;
  border-radius: 50%;
  opacity: 0.8;
}
.btn.answer-btn{
  position: relative;
  padding-left: 40px !important;
}
.btn.answer-btn::before{
  content: "";
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2444 0.000659669C24.5956 -0.0346219 28.8403 1.34621 32.338 3.93474C35.8356 6.52328 38.3966 10.1791 39.6344 14.3507C40.623 17.4575 40.8161 20.7627 40.1958 23.9634C39.5756 27.1642 38.1619 30.158 36.0844 32.6706C35.8644 32.9606 35.8644 33.1007 36.1344 33.3307C36.4844 33.6107 36.7344 34.0707 37.1144 34.2407C37.4944 34.4107 37.9444 34.0207 38.3844 33.9407C39.1465 33.7451 39.9469 33.755 40.704 33.9693C41.4611 34.1836 42.1478 34.5947 42.6944 35.1607C46.4544 38.9207 50.2644 42.6306 54.0644 46.3606C54.821 47.0313 55.3678 47.9061 55.6392 48.88C55.9106 49.8539 55.8951 50.8854 55.5944 51.8507C55.3319 52.8444 54.787 53.7407 54.0256 54.4311C53.2642 55.1215 52.319 55.5764 51.3044 55.7407C50.4155 55.9602 49.4846 55.9417 48.6051 55.6871C47.7256 55.4326 46.9287 54.9509 46.2944 54.2906C42.3444 50.3906 38.3644 46.5207 34.4244 42.6007C33.8641 41.8589 33.5333 40.9692 33.4729 40.0416C33.4125 39.1139 33.625 38.1889 34.0844 37.3807C34.1108 37.3479 34.1305 37.3102 34.1423 37.2698C34.1541 37.2294 34.1577 37.1871 34.1531 37.1453C34.1484 37.1034 34.1356 37.0629 34.1152 37.0261C34.0948 36.9893 34.0674 36.9568 34.0344 36.9307C34.0236 36.9253 34.0135 36.9186 34.0044 36.9107C33.6644 36.6007 33.3744 36.0907 32.9844 35.9907C32.5744 35.8807 32.2344 36.4307 31.8544 36.6807C25.0344 41.0607 17.8944 41.6406 10.6944 37.9206C4.31442 34.6206 0.774416 29.1207 0.0844163 21.9707C-0.391359 16.7902 1.1568 11.6268 4.40435 7.56267C7.65189 3.49858 12.3466 0.849417 17.5044 0.170643C18.4168 0.0589356 19.3352 0.00218372 20.2544 0.000659669' fill='%23010101'/%3E%3Cpath d='M35.6355 20.051C35.6643 23.0979 34.7889 26.0849 33.12 28.6343C31.4511 31.1837 29.0637 33.1809 26.2597 34.3734C23.4557 35.5659 20.3611 35.9002 17.3671 35.3339C14.3731 34.7676 11.6143 33.3262 9.43955 31.192C7.26478 29.0578 5.77172 26.3266 5.14919 23.3439C4.52665 20.3611 4.8026 17.2607 5.94213 14.4348C7.08167 11.6088 9.03361 9.18423 11.5511 7.46765C14.0686 5.75107 17.0386 4.81963 20.0855 4.79102H20.5355C24.5526 4.84067 28.3887 6.46939 31.2143 9.32501C34.04 12.1806 35.6282 16.0336 35.6355 20.051Z' fill='%23F4DF21'/%3E%3Cpath d='M30.3446 17.9103C30.0251 17.9069 29.7147 17.8039 29.4566 17.6157C29.1985 17.4275 29.0055 17.1634 28.9046 16.8603C28.3243 15.3574 27.356 14.0353 26.0982 13.0287C24.8403 12.0221 23.3381 11.367 21.7446 11.1303C20.4384 10.9017 19.1004 10.9289 17.8046 11.2103C17.5352 11.2884 17.2548 11.3221 16.9746 11.3103C16.6559 11.263 16.3617 11.1119 16.1376 10.8805C15.9134 10.6492 15.7718 10.3503 15.7346 10.0303C15.7096 9.6941 15.7987 9.35928 15.9874 9.07988C16.1761 8.80048 16.4534 8.59275 16.7746 8.49028C17.4461 8.2903 18.1364 8.15966 18.8346 8.10033C21.5231 7.7972 24.2369 8.38424 26.5598 9.77147C28.8827 11.1587 30.6865 13.2695 31.6946 15.7803C31.8675 16.1319 31.8941 16.5376 31.7685 16.9087C31.6429 17.2798 31.3754 17.586 31.0246 17.7603C30.8117 17.8698 30.5737 17.9216 30.3346 17.9103' fill='white'/%3E%3Cpath d='M9.35581 18.2211C9.54952 18.2165 9.74225 18.25 9.92299 18.3199C10.1037 18.3897 10.2689 18.4945 10.4092 18.6282C10.5494 18.762 10.6619 18.922 10.7402 19.0992C10.8186 19.2765 10.8613 19.4674 10.8658 19.6611V19.8211C10.8809 21.4125 11.2606 22.9794 11.9758 24.4011C12.4433 25.3536 13.1 26.2008 13.9058 26.8911C14.2319 27.1034 14.4603 27.4365 14.5409 27.8171C14.6216 28.1978 14.5478 28.5948 14.3358 28.9211C14.2982 28.9819 14.2546 29.0389 14.2058 29.0911C13.9259 29.4025 13.5338 29.5901 13.1156 29.6126C12.6975 29.6351 12.2875 29.4907 11.9758 29.2111C11.9377 29.183 11.904 29.1492 11.8758 29.1111C9.6998 27.1367 8.31405 24.4398 7.97581 21.5211C7.90264 20.9206 7.86923 20.316 7.87581 19.7111C7.87314 19.323 8.02409 18.9495 8.29574 18.6722C8.56739 18.395 8.93768 18.2364 9.32581 18.2311H9.35581' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #00;
  }
  th {
    text-align: left;
    padding: 12px 8px;
    border-bottom: 1px solid #000;
    font-size: 25px;
  }
  td {
    padding: 10px 8px;
    vertical-align: top;
    line-height: 1.4;
    font-size: 25px;
  }
  /* Adds the horizontal separators seen in the image */
  tr {
    border-bottom: 1px solid #000;
  }
  /* Removes border from the last row for a clean look */
  tr:last-child {
    border-bottom: none;
  }
  .factor-cell {
    font-weight: normal;
    width: 20%;
  }

  .modal-open::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: -1;
}
#note-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box{
    background-color: #fff;
    height: 500px;
    width: 900px;
    padding: 25px;
    border-radius: 20px;
    position: relative;
}
.btn.active{
  opacity: 1;
  pointer-events: all;
}
.btn.disabled{
  opacity: .6;
}