      .st0 {
        fill: #fccd78;
      }

      .st1 {
        fill: #ba3e3c;
      }

      .st2 {
        clip-path: url(#clippath-51);
      }

      .st3 {
        fill: #d98a53;
      }

      .st4 {
        fill: #f87f2c;
      }

      .st5 {
        fill: #ef9a4d;
      }

      .st6 {
        clip-path: url(#clippath-34);
      }

      .st7 {
        fill: #581a30;
      }

      .st8 {
        fill: #fdd473;
      }

      .st9 {
        fill: #9c2e34;
      }

      .st10 {
        fill: #fdea9d;
      }

      .st11 {
        fill: #f9c755;
      }

      .st12 {
        fill: #8b2c34;
      }

      .st13 {
        fill: #000e65;
      }

      .st13, .st14 {
        font-family: Roboto-Regular, Roboto;
      }

      .st13, .st14, .st15, .st16, .st17, .st18, .st19, .st20, .st21, .st22, .st23, .st24, .st25, .st26, .st27, .st28, .st29, .st30, .st31, .st32, .st33, .st34, .st35, .st36, .st37, .st38 {
        isolation: isolate;
      }

      .st13, .st18, .st38 {
        font-size: 26px;
      }

      .st39 {
        fill: #6cfc7a;
      }

      .st40 {
        clip-path: url(#clippath-38);
      }

      .st41 {
        clip-path: url(#clippath-21);
      }

      .st42 {
        fill: #b6254f;
      }

      .st43 {
        fill: #9e343e;
      }

      .st44 {
        clip-path: url(#clippath-6);
      }

      .st45 {
        clip-path: url(#clippath-7);
      }

      .st46 {
        clip-path: url(#clippath-17);
      }

      .st47 {
        fill: #facf66;
      }

      .st48 {
        fill: #a93939;
      }

      .st49 {
        clip-path: url(#clippath-31);
      }

      .st50 {
        fill: #da5a3d;
      }

      .st51 {
        fill: #fcd279;
      }

      .st52 {
        fill: #f6984b;
      }

      .st53 {
        fill: #cf623d;
      }

      .st54 {
        fill: #c64630;
      }

      .st55 {
        fill: #c03924;
      }

      .st56 {
        fill: #ec9d4e;
      }

      .st57 {
        clip-path: url(#clippath-15);
      }

      .st58 {
        clip-path: url(#clippath-33);
      }

      .st59 {
        fill: #db5d3b;
      }

      .st14, .st60, .st21, .st22, .st30 {
        fill: #fff;
      }

      .st14, .st21, .st30 {
        font-size: 35px;
      }

      .st61 {
        fill: #d74f39;
      }

      .st62 {
        fill: #fedb64;
      }

      .st63 {
        fill: #c0423e;
      }

      .st64 {
        fill: #915855;
      }

      .st65 {
        fill: #872a37;
      }

      .st66 {
        fill: #fdc159;
      }

      .st67 {
        fill: #fdad3d;
      }

      .st68 {
        clip-path: url(#clippath-18);
      }

      .st69 {
        clip-path: url(#clippath-47);
      }

      .st70 {
        clip-path: url(#clippath-4);
      }

      .st71 {
        fill: #fffddf;
      }

      .st72 {
        fill: #cf4632;
      }

      .st73 {
        fill: #d75438;
      }

      .st74 {
        fill: #531b30;
      }

      .st15 {
        fill: #ffa800;
        font-family: Roboto-Italic, Roboto;
        font-size: 24px;
        font-style: italic;
      }

      .st75 {
        fill: #ac3a3d;
      }

      .st76 {
        fill: #c85b2f;
      }

      .st77 {
        fill: #ed8649;
      }

      .st78 {
        fill: #f2c66b;
      }

      .st16, .st18, .st21, .st26, .st27, .st38 {
        font-family: Roboto-Medium, Roboto;
        font-weight: 500;
      }

      .st16, .st26, .st35 {
        fill: #ffcb00;
      }

      .st16, .st35 {
        font-size: 90px;
      }

      .st79 {
        clip-path: url(#clippath-22);
      }

      .st80 {
        fill: #dc4b2a;
      }

      .st81 {
        fill: #f9852c;
      }

      .st82 {
        fill: #5a222f;
      }

      .st83 {
        fill: #f79d37;
      }

      .st84 {
        fill: #b33636;
      }

      .st85 {
        fill: #c64130;
      }

      .st86 {
        fill: #d7482e;
      }

      .st87 {
        fill: #fddc81;
      }

      .st88 {
        fill: #f2a64e;
      }

      .st89 {
        fill: #f5782d;
      }

      .st90 {
        clip-path: url(#clippath-23);
      }

      .st91 {
        fill: #9a313a;
      }

      .st92 {
        fill: #c03f37;
      }

      .st93 {
        fill: #b34539;
      }

      .st94 {
        fill: #ef672e;
      }

      .st95 {
        fill: #e75628;
      }

      .st96 {
        fill: #ea8248;
      }

      .st97 {
        fill: #feeaac;
      }

      .st17, .st19, .st24, .st28, .st29, .st30, .st31, .st33, .st34, .st36, .st37 {
        font-weight: 600;
      }

      .st17, .st19, .st24, .st28, .st29, .st31, .st33, .st34, .st36, .st37 {
        fill: #74391b;
        font-family: Roboto-SemiBold, Roboto;
      }

      .st17, .st20 {
        font-size: 30px;
      }

      .st98 {
        fill: #fcd06e;
      }

      .st99 {
        fill: #bb413f;
      }

      .st100 {
        fill: #f9882e;
      }

      .st101 {
        fill: #fba032;
      }

      .st102 {
        fill: #c74235;
      }

      .st103 {
        fill: #dc7d4e;
      }

      .st104 {
        fill: #d5563b;
      }

      .st105 {
        fill: #f3b64f;
      }

      .st106 {
        fill: #e15227;
      }

      .st107 {
        fill: #a43339;
      }

      .st108 {
        fill: #f4d56e;
      }

      .st109 {
        fill: #9d333d;
      }

      .st110 {
        fill: #fdc544;
      }

      .st111 {
        fill: #9d3837;
      }

      .st112 {
        clip-path: url(#clippath-54);
      }

      .st113 {
        fill: #f77e2b;
      }

      .st114 {
        fill: #f77f2d;
      }

      .st115 {
        fill: #e49252;
      }

      .st116 {
        fill: #ffeb9c;
      }

      .st117 {
        stroke: #02a312;
      }

      .st117, .st118, .st119, .st120 {
        fill: none;
      }

      .st117, .st119, .st120 {
        stroke-width: 2px;
      }

      .st121 {
        fill: #fc9235;
      }

      .st122 {
        fill: #fdc044;
      }

      .st123 {
        fill: #e0532c;
      }

      .st124 {
        fill: #772e12;
      }

      .st125 {
        fill: #d1523d;
      }

      .st126 {
        fill: #f7812f;
      }

      .st127 {
        fill: #8d391b;
      }

      .st128 {
        fill: #6a252f;
      }

      .st129 {
        fill: #da4727;
      }

      .st130 {
        fill: #652422;
      }

      .st131 {
        clip-path: url(#clippath-9);
      }

      .st132 {
        fill: #67202e;
      }

      .st133 {
        fill: #db722c;
      }

      .st134 {
        fill: #d0462d;
      }

      .st135 {
        fill: #e6632a;
      }

      .st136 {
        clip-path: url(#clippath-10);
      }

      .st137 {
        fill: #fcd87a;
      }

      .st138 {
        fill: #b34d1c;
      }

      .st139 {
        clip-path: url(#clippath-42);
      }

      .st140 {
        fill: #fdf7d0;
      }

      .st141 {
        fill: #d95a3d;
      }

      .st142 {
        fill: #dd4e29;
      }

      .st143 {
        fill: #93373e;
      }

      .st18 {
        fill: #ffc100;
      }

      .st144 {
        fill: #d3432f;
      }

      .st145 {
        fill: #853222;
      }

      .st146 {
        fill: #f7b553;
      }

      .st147 {
        fill: #ea974d;
      }

      .st148 {
        fill: #e75729;
      }

      .st149 {
        fill: #e9703e;
      }

      .st150 {
        fill: #c0433f;
      }

      .st151 {
        fill: #f7792d;
      }

      .st152 {
        fill: #d5452d;
      }

      .st153 {
        clip-path: url(#clippath-43);
      }

      .st154 {
        fill: #d3442e;
      }

      .st155 {
        fill: #cd4331;
      }

      .st156 {
        fill: #3a0919;
      }

      .st157 {
        fill: #f7812e;
      }

      .st158 {
        fill: #fda839;
      }

      .st159 {
        fill: #a73336;
      }

      .st160 {
        clip-path: url(#clippath-25);
      }

      .st161 {
        fill: #fdf2c5;
      }

      .st162 {
        fill: #db5b3c;
      }

      .st163 {
        fill: #da4f33;
      }

      .st164 {
        clip-path: url(#clippath-27);
      }

      .st165 {
        fill: #ce4131;
      }

      .st166 {
        fill: #f3cb9a;
      }

      .st167 {
        fill: #d4492c;
      }

      .st168 {
        fill: #fba139;
      }

      .st169 {
        fill: #fdc763;
      }

      .st170 {
        fill: #fca23a;
      }

      .st171 {
        fill: #d4442c;
      }

      .st19 {
        font-size: 15px;
      }

      .st172 {
        fill: #f7aa3f;
      }

      .st173 {
        fill: #fec750;
      }

      .st174 {
        fill: #fdb743;
      }

      .st175 {
        fill: #963c18;
      }

      .st176 {
        fill: #fdb03a;
      }

      .st177 {
        fill: #bf413e;
      }

      .st178 {
        fill: #d6482f;
      }

      .st179 {
        fill: #e4b990;
      }

      .st180 {
        fill: #ea602b;
      }

      .st181 {
        fill: #bb4240;
      }

      .st20 {
        fill: #ffc017;
      }

      .st20, .st22 {
        font-family: Roboto-Light, Roboto;
        font-weight: 300;
      }

      .st182 {
        fill: #923d1c;
      }

      .st183 {
        clip-path: url(#clippath-11);
      }

      .st184 {
        fill: #b23638;
      }

      .st185 {
        fill: #be4240;
      }

      .st186 {
        fill: #ee9658;
      }

      .st187 {
        clip-path: url(#clippath-57);
      }

      .st188 {
        fill: #e38654;
      }

      .st189 {
        fill: #b8403c;
      }

      .st190 {
        fill: #f0a154;
      }

      .st191 {
        fill: #955850;
      }

      .st192 {
        fill: #fdc141;
      }

      .st193 {
        fill: #ff2c68;
      }

      .st194 {
        fill: #d04830;
      }

      .st22 {
        font-size: 38px;
      }

      .st195 {
        fill: #f57d2a;
      }

      .st196 {
        fill: #a9363b;
      }

      .st197 {
        fill: #c94a40;
      }

      .st198 {
        clip-path: url(#clippath-36);
      }

      .st199 {
        fill: #9c3032;
      }

      .st200 {
        fill: red;
      }

      .st201 {
        fill: #c64940;
      }

      .st202 {
        fill: #c94433;
      }

      .st203 {
        fill: #0b0701;
      }

      .st204 {
        clip-path: url(#clippath-35);
      }

      .st205 {
        clip-path: url(#clippath-48);
      }

      .st206 {
        fill: #ce4630;
      }

      .st207 {
        fill: #d6472f;
      }

      .st208 {
        fill: #c05131;
      }

      .st209 {
        clip-path: url(#clippath-28);
      }

      .st210 {
        fill: #ad383b;
      }

      .st211 {
        fill: #e67a46;
      }

      .st212 {
        fill: #fba239;
      }

      .st213 {
        fill: #59171f;
      }

      .st214 {
        fill: #ab3536;
      }

      .st215 {
        fill: #542030;
      }

      .st216 {
        fill: #fcd35a;
      }

      .st217 {
        fill: #db5932;
      }

      .st218 {
        fill: #f7802c;
      }

      .st219 {
        fill: #d6532f;
      }

      .st220 {
        fill: #f79e44;
      }

      .st221 {
        fill: #fcb146;
      }

      .st222 {
        clip-path: url(#clippath-1);
      }

      .st223 {
        fill: #f5bb4d;
      }

      .st224 {
        clip-path: url(#clippath-56);
      }

      .st225 {
        fill: #d44631;
      }

      .st226 {
        fill: #93303a;
      }

      .st227 {
        fill: #db5834;
      }

      .st228 {
        fill: #fdd271;
      }

      .st229 {
        fill: #fdcd69;
      }

      .st230 {
        fill: #fcd772;
      }

      .st231 {
        fill: #a63731;
      }

      .st232 {
        fill: #db4625;
      }

      .st233 {
        fill: #da4627;
      }

      .st234 {
        fill: #87323b;
      }

      .st235 {
        fill: #fcd67b;
      }

      .st236 {
        fill: #fb8531;
      }

      .st237 {
        fill: #fde592;
      }

      .st238 {
        fill: #dd5c3b;
      }

      .st239 {
        fill: #ff9200;
      }

      .st240 {
        fill: #da4725;
      }

      .st241 {
        fill: #fca538;
      }

      .st242 {
        fill: #cb4434;
      }

      .st243 {
        fill: #fdc94d;
      }

      .st244 {
        fill: #fcab39;
      }

      .st245 {
        clip-path: url(#clippath-45);
      }

      .st246 {
        fill: #e37543;
      }

      .st24 {
        font-size: 14px;
      }

      .st247 {
        clip-path: url(#clippath-46);
      }

      .st248 {
        clip-path: url(#clippath-40);
      }

      .st249 {
        fill: #ce4232;
      }

      .st250 {
        clip-path: url(#clippath-5);
      }

      .st251 {
        fill: #fcc95d;
      }

      .st252 {
        clip-path: url(#clippath-20);
      }

      .st253 {
        fill: #fdde8b;
      }

      .st254 {
        fill: #d7462e;
      }

      .st255 {
        fill: #e4653b;
      }

      .st256 {
        fill: #f9a544;
      }

      .st257 {
        clip-path: url(#clippath-8);
      }

      .st258 {
        fill: #d3442f;
      }

      .st259 {
        fill: #d54a2f;
      }

      .st260 {
        fill: #da4e32;
      }

      .st261 {
        clip-path: url(#clippath-52);
      }

      .st262 {
        fill: #652433;
      }

      .st263 {
        fill: #d4553c;
      }

      .st264 {
        fill: #5b2130;
      }

      .st265 {
        clip-path: url(#clippath-41);
      }

      .st266 {
        fill: #fca237;
      }

      .st267 {
        fill: #ab3436;
      }

      .st268 {
        fill: #e85e30;
      }

      .st269 {
        fill: #fba73e;
      }

      .st270 {
        fill: #f6b958;
      }

      .st271 {
        fill: #fcd987;
      }

      .st272 {
        fill: #fece4c;
      }

      .st273 {
        fill: #bb423f;
      }

      .st274 {
        fill: #f4bb5d;
      }

      .st275 {
        fill: #dc1111;
      }

      .st276 {
        fill: #8f2f39;
      }

      .st277 {
        fill: #fda436;
      }

      .st278 {
        fill: #6e272f;
      }

      .st279 {
        fill: #5f1d37;
      }

      .st280 {
        fill: #f7dfc5;
      }

      .st119 {
        stroke: #ff2a2a;
      }

      .st281 {
        clip-path: url(#clippath-3);
      }

      .st282 {
        fill: #f2c60d;
      }

      .st283 {
        fill: #fdc849;
      }

      .st284 {
        fill: #e5c8a7;
      }

      .st285 {
        fill: #c14139;
      }

      .st286 {
        fill: #f8bc50;
      }

      .st287 {
        fill: #973c18;
      }

      .st25 {
        opacity: 1;
      }

      .st120 {
        stroke: #006b99;
      }

      .st288 {
        clip-path: url(#clippath-26);
      }

      .st289 {
        fill: #913025;
      }

      .st290 {
        fill: #fda837;
      }

      .st291 {
        fill: #f59d41;
      }

      .st292 {
        fill: #fdd16e;
      }

      .st293 {
        fill: #f9c265;
      }

      .st294 {
        fill: #d54630;
      }

      .st295 {
        fill: #f0be82;
      }

      .st296 {
        fill: #fda136;
      }

      .st297 {
        fill: #bf3e3c;
      }

      .st26 {
        font-size: 70px;
      }

      .st298 {
        clip-path: url(#clippath-12);
      }

      .st299 {
        fill: #e25529;
      }

      .st300 {
        fill: #c95129;
      }

      .st301 {
        fill: #fdbe47;
      }

      .st302 {
        fill: #f7deba;
      }

      .st303 {
        fill: #f9cf63;
      }

      .st304 {
        clip-path: url(#clippath-50);
      }

      .st305 {
        fill: #a6363c;
      }

      .st306 {
        fill: #9e4438;
      }

      .st307 {
        fill: #f3b65a;
      }

      .st308 {
        fill: #e9c10f;
      }

      .st309 {
        fill: #fde99a;
      }

      .st310 {
        fill: #febe47;
      }

      .st311 {
        fill: #b53c3d;
      }

      .st312 {
        fill: #933039;
      }

      .st313 {
        fill: #ec7339;
      }

      .st314 {
        fill: #af4140;
      }

      .st315 {
        clip-path: url(#clippath-14);
      }

      .st316 {
        fill: #d6a15f;
      }

      .st317 {
        fill: #9f3414;
      }

      .st318 {
        fill: #c24137;
      }

      .st319 {
        fill: #c44939;
      }

      .st320 {
        fill: #f6d6b3;
      }

      .st321 {
        fill: #e68442;
      }

      .st322 {
        fill: #d94528;
      }

      .st323 {
        fill: #d44630;
      }

      .st324 {
        fill: #fc892f;
      }

      .st325 {
        fill: #fdbc42;
      }

      .st27 {
        fill: #181818;
        font-size: 28px;
      }

      .st326 {
        fill: #5c1e2f;
      }

      .st327 {
        fill: #f6b946;
      }

      .st328 {
        fill: #fbe09f;
      }

      .st329 {
        fill: #f7d3a7;
      }

      .st330 {
        opacity: .9;
      }

      .st331 {
        clip-path: url(#clippath-30);
      }

      .st332 {
        clip-path: url(#clippath-19);
      }

      .st333 {
        fill: #e99252;
      }

      .st334 {
        fill: #d7482d;
      }

      .st335 {
        fill: #dc4826;
      }

      .st336 {
        fill: #fcf3c5;
      }

      .st337 {
        fill: #661f2f;
      }

      .st338 {
        fill: #da8438;
      }

      .st339 {
        fill: #feead4;
      }

      .st340 {
        fill: #fcdf6e;
      }

      .st341 {
        fill: #a13438;
      }

      .st342 {
        fill: #9e3c2b;
      }

      .st28 {
        font-size: 14px;
      }

      .st343 {
        fill: #f8dbb7;
      }

      .st344 {
        fill: #fad26f;
      }

      .st345 {
        fill: #feb53a;
      }

      .st346 {
        fill: #010000;
      }

      .st347 {
        fill: #e05830;
      }

      .st348 {
        fill: #e26030;
      }

      .st29 {
        font-size: 14px;
      }

      .st349 {
        fill: #943038;
      }

      .st350 {
        fill: #f8c072;
      }

      .st351 {
        fill: #fdaa37;
      }

      .st352 {
        fill: #fdaf3c;
      }

      .st353 {
        clip-path: url(#clippath-32);
      }

      .st354 {
        fill: #d6533b;
      }

      .st355 {
        fill: #e65a2f;
      }

      .st356 {
        fill: #a4393a;
      }

      .st357 {
        fill: #d74b2f;
      }

      .st358 {
        fill: #fefdfc;
      }

      .st359 {
        fill: #7e2d3b;
      }

      .st360 {
        fill: #d5462f;
      }

      .st361 {
        fill: #fcabab;
      }

      /* .st362 {
        display: block;
      } */

      .st363 {
        fill: #531c2d;
      }

      .st364 {
        fill: #d3583a;
      }

      .st365 {
        clip-path: url(#clippath-55);
      }

      .st366 {
        fill: #f8842d;
      }

      .st367 {
        fill: #bf403b;
      }

      .st368 {
        fill: #e68649;
      }

      .st369 {
        fill: #872c36;
      }

      .st370 {
        fill: #fda637;
      }

      .st371 {
        fill: #d95838;
      }

      .st372 {
        fill: #d6533a;
      }

      .st373 {
        fill: #d8472c;
      }

      .st374 {
        fill: #f6812e;
      }

      .st375 {
        fill: #541d2d;
      }

      .st376 {
        fill: #f2b64a;
      }

      .st30 {
        font-family: SegoeUI-Semibold, 'Segoe UI';
      }

      .st377 {
        fill: #fec000;
      }

      .st378 {
        fill: #f7802d;
      }

      .st379 {
        fill: #df532d;
      }

      .st380 {
        fill: #e3904e;
      }

      .st381 {
        fill: #ef672a;
      }

      .st382 {
        fill: #b43e41;
      }

      .st383 {
        clip-path: url(#clippath-53);
      }

      .st384 {
        fill: #fdc148;
      }

      .st385 {
        fill: #faab3c;
      }

      .st386 {
        fill: #f5c77d;
      }

      .st387 {
        fill: #f8a93e;
      }

      .st388 {
        clip-path: url(#clippath-39);
      }

      .st389 {
        fill: #f4943e;
      }

      .st31 {
        font-size: 14px;
      }

      .st32 {
        fill: #821736;
        opacity: .6;
      }

      .st390 {
        fill: #571f2b;
      }

      .st391 {
        fill: #824937;
      }

      .st33 {
        font-size: 15px;
      }

      .st392 {
        fill: #fccd68;
      }

      .st393 {
        fill: #fdba40;
      }

      .st394 {
        fill: #cd6442;
      }

      .st395 {
        fill: #fadb6d;
      }

      .st396 {
        fill: #de4c29;
      }

      .st397 {
        opacity: .8;
      }

      .st398 {
        fill: #f8812d;
      }

      .st399 {
        fill: #f6d5a7;
      }

      .st400 {
        fill: #e4572c;
      }

      .st401 {
        fill: #fca442;
      }

      .st402 {
        fill: #fed04a;
      }

      .st403 {
        fill: #fc9534;
      }

      .st404 {
        fill: #d85731;
      }

      .st405 {
        fill: #f6c066;
      }

      .st406 {
        fill: #fda537;
      }

      .st407 {
        clip-path: url(#clippath-16);
      }

      .st408 {
        fill: #d2452f;
      }

      .st409 {
        fill: #b63934;
      }

      .st34 {
        font-size: 15px;
      }

      .st410 {
        fill: #d64b36;
      }

      .st411 {
        fill: #a3363a;
      }

      .st412 {
        clip-path: url(#clippath-2);
      }

      .st413 {
        fill: #f4b24e;
      }

      .st414 {
        fill: #a53436;
      }

      .st415 {
        fill: #fc8b31;
      }

      .st416 {
        fill: #903c1a;
      }

      .st417 {
        fill: #9f3726;
      }

      .st418 {
        fill: #f8ce70;
      }

      .st419 {
        clip-path: url(#clippath-29);
      }

      .st420 {
        fill: #fca937;
      }

      .st421 {
        fill: #bf413b;
      }

      .st422 {
        fill: #e67e3d;
      }

      .st423 {
        fill: #e6a147;
      }

      .st424 {
        fill: #e25029;
      }

      .st425 {
        fill: #8d3440;
      }

      .st426 {
        fill: #fda236;
      }

      .st427 {
        fill: #d0513f;
      }

      .st428 {
        fill: #b93b38;
      }

      .st429 {
        fill: #e3bb99;
      }

      .st430 {
        clip-path: url(#clippath-49);
      }

      .st431 {
        clip-path: url(#clippath-37);
      }

      .st432 {
        fill: #5a2535;
      }

      .st433 {
        fill: #fa812d;
      }

      .st434 {
        fill: #fbdf6a;
      }

      .st35 {
        font-family: Roboto-Bold, Roboto;
        font-weight: 700;
      }

      .st36 {
        font-size: 14px;
      }

      .st435 {
        fill: #f9cc5b;
      }

      .st436 {
        clip-path: url(#clippath-13);
      }

      .st437 {
        fill: #c3ecfd;
      }

      .st438 {
        fill: #fd9832;
      }

      .st439 {
        fill: #ad3b3a;
      }

      .st440 {
        fill: #c94026;
      }

      .st441 {
        fill: #fdcf73;
      }

      .st442 {
        fill: #fdbc3f;
      }

      .st443 {
        fill: #601d32;
      }

      .st444 {
        fill: #f5cb98;
      }

      .st445 {
        fill: #511b30;
      }

      .st446 {
        fill: #b03b3e;
      }

      .st447 {
        fill: #df984c;
      }

      .st448 {
        fill: #f48c41;
      }

      .st449 {
        fill: #f79e34;
      }

      .st450 {
        fill: #ffc28c;
      }

      .st451 {
        clip-path: url(#clippath-24);
      }

      .st452 {
        fill: #f8852c;
      }

      .st453 {
        fill: #fcb645;
      }

      .st37 {
        font-size: 15px;
      }

      .st454 {
        fill: #d5452e;
      }

      .st455 {
        fill: #d77740;
      }

      .st456 {
        fill: #fbba6d;
      }

      .st457 {
        clip-path: url(#clippath);
      }

      .st458 {
        fill: #ed9648;
      }

      .st459 {
        fill: #e16038;
      }

      .st460 {
        fill: #fbca65;
      }

      .st461 {
        fill: #f3eae9;
      }

      .st462 {
        fill: #b03b3c;
      }

      .st463 {
        fill: #fcd178;
      }

      .st464 {
        fill: #f58a38;
      }

      .st465 {
        fill: #feb93d;
      }

      .st38 {
        fill: #4cff00;
      }

      .st466 {
        fill: #7d2f25;
      }

      .st467 {
        fill: #fdf6b3;
      }

      .st468 {
        fill: #fdf1bb;
      }

      .st469 {
        fill: #fcd452;
      }

      .st470 {
        fill: #511c2d;
      }

      .st471 {
        fill: #f69b54;
      }

      .st472 {
        fill: #5f2725;
      }

      .st473 {
        fill: #993424;
      }

      .st474 {
        fill: #d75f40;
      }

      .st475 {
        clip-path: url(#clippath-44);
      }

      .st476 {
        fill: #b43c3c;
      }

      .st477 {
        fill: #fa8f36;
      }

      .st478 {
        fill: #571e31;
      }

      .st479 {
        fill: #895059;
      }

      .st480 {
        fill: #fecf4e;
      }

      .st481 {
        fill: #da583a;
      }

      .st482 {
        fill: #6a212e;
      }

      .st483 {
        fill: #d4452e;
      }

      .st484 {
        fill: #d24725;
      }

      .st485 {
        fill: #d34331;
      }

      .st486 {
        fill: #fdd177;
      }

      .st487 {
        fill: #fdf2c6;
      }

      .st488 {
        fill: #da4825;
      }

      .st489 {
        fill: #5e1f32;
      }