*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}

svg * {
  -webkit-tap-highlight-color: transparent;
}

#idiom-wrapper body {
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#idiom-wrapper .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#idiom-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#idiom-wrapper .container::after {
  content: "";
  background-image: url("../assets/bg.png");
  background-color: #000;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #idiom-wrapper .mainContainerOuter {
  background: #60360D !important
} */

#idiom-wrapper .button-controls {
  background: 0 0 !important;
  border: none !important
}

#idiom-wrapper .d-flex {
  display: flex
}

#idiom-wrapper .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#idiom-wrapper .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#idiom-wrapper .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #idiom-wrapper .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#idiom-wrapper .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#idiom-wrapper .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#idiom-wrapper .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#idiom-wrapper .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#idiom-wrapper .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#idiom-wrapper .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#idiom-wrapper .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 3;
}

#idiom-wrapper .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #0295FC;
  white-space: nowrap;
}

#idiom-wrapper .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: rgb(0 0 0 / 20%);
}

#idiom-wrapper .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#idiom-wrapper svg {
  width: 100% !important;
  height: 100%;
}

/* swar ki pehchan style */

.i-text {
  font-size: 28px;
  color: #fff;
  text-align: center;
  line-height: 1.4;
  font-style: italic;
}

.innerFlexContainer {
  display: flex;
  gap: 100px;
}

.sub-itext {
  color: #F7FF02;
}

.card-wrapper {
  display: flex;
  gap: 25px;
}

.card-wrapper li {
  width: 190.49px;
  height: 358.3px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 20px;
  position: relative;
}

.card-wrapper.placeholder li {
  background-image: url("../assets/card-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card-wrapper li .view-btn {
  height: 56.78px;
  width: 56.78px;
  background-image: url("../assets/info-btn.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  pointer-events: none;
}

.i-textInfo {
  background-image: url("../assets/info-btn.svg");
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  margin-bottom: -10px;
}

.selected-btn {
  background-color: #FFD063;
  font-size: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 600;
  white-space: nowrap;
}

.btn-wrapper {
  display: flex;
  gap: 17px;
}

.btn-wrapper li {
  cursor: pointer;
}

.home-btn {
  cursor: pointer;
}

.popup-wrapper {
  background-color: #fff;
  border: 5px solid #E2A500;
  padding: 50px;
  font-size: 30px;
  line-height: 1.2;
  display: flex;
  gap: 50px;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: -46px;
  right: -50px;
  height: 88px;
  width: 88px;
  cursor: pointer;
}

.title-popup {
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
}

.popup-wrapper.wrong {
  border: 4px dotted #FF0000;
  color: #FF0000;
  background-color: #FFDCDC;
  padding: 30px;
  text-align: center;
}

body.modal-open .overlay {
  display: block !important;
}

.btn-wrapper .disabled {
  opacity: .4;
  pointer-events: none;
}

.innerFlexContainer img {
  cursor: pointer;
}

#card-placeholder li li {
  /* transform-origin: bottom left; */
  transition: transform 0.35s ease;
}

.domino-fall {
  transform: rotate(45deg);
}

.card-wrapper.placeholder.active li {
  background-image: none;
  background-color: transparent;
}

.card-wrapper.placeholder li.slot-correct {
  background-image: none !important;
  box-shadow: none !important;
  background-color: transparent;
  z-index: 1;
}

.popup-wrapper.correct {
  background-color: #FFFCA7;
  color: #00640A;
  border: 3px dotted #00640A;
  text-align: center;
  font-weight: 600;
  position: relative;
  /* padding: 30px 10px; */
}

.winning-cup {
  height: 200px;
  width: 200px;
  clip-path: inset(0% 0% 37% 0%);
  position: absolute;
  top: -126px;
  left: 50%;
  transform: translateX(-50%);
}

.correct-lottie {
  position: absolute;
  top: -250px;
  left: 130px;
}

.selected-btn.sepoys {
  background-color: #73fcff;
}

.selected-btn.sepoys {
  background-color: #73fcff;
}

.selected-btn.regional-leaders {
  background-color: #85ffa7;
}