*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}

#kriyaPage body {
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#kriyaPage .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#kriyaPage .container::after {
  content: "";
  background-image: url("../assets/BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #kriyaPage .mainContainerOuter {
  background: #60360D !important
} */

#kriyaPage .button-controls {
  background: 0 0 !important;
  border: none !important
}

#kriyaPage .d-flex {
  display: flex
}

#kriyaPage .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#kriyaPage .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#kriyaPage .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #kriyaPage .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#kriyaPage .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#kriyaPage .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#kriyaPage .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#kriyaPage .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#kriyaPage .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#kriyaPage .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#kriyaPage .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#kriyaPage .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #1d83ec;
  white-space: nowrap;
}

#kriyaPage .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: #6a6a6a;
}

#kriyaPage .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#kriyaPage svg {
  width: 100% !important;
  height: calc(100% - 40px) !important;
}

/* tally mark style  */
#kriyaPage .h-100 {
  height: 100%;
}

#kriyaPage .home-btns {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

#kriyaPage .home-btns img {
  cursor: pointer;
}

.question-wrapper .question-list {
  display: flex;
  border: 400px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  list-style-type: none;
  width: 1500;
}

.question-wrapper .question-list li {
  background-image: url("../assets/input-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 145.99px;
  width: 649.99px;
  font-size: 52px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
}

.answer-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
  list-style-type: none;
}

.answer-list li {
  background-image: url("../assets/ans-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 269.4px;
  height: 125.99px;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.step1-itext {
  font-size: 35px;
  color: #940606;
  line-height: 1.5;
  display: block;
  text-align: center;
  margin-bottom: 35px;
}

.subject-wrapper {
  display: flex;
  width: 100%;
}

.subject-wrapper .left-col {
  width: 72%;
}

.subject-wrapper .right-col {
  width: 28%;
  text-align: center;

}

.subject-wrapper .subject-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px !important;
  padding: 0;
  list-style-type: none;
  padding-left: 20px;

}

.subject-wrapper .subject-list li {
  background-image: url("../assets/subject-bg.svg");
  background-size: 100% 100%;
  background-position: center;
  width: 586px;
  height: 372px;
  position: relative;
  cursor: pointer;
}

.subject-wrapper .subject-list li h6 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  top: 35px;
  margin: 0;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.word-wrap {
  display: flex;
  flex-direction: column;
  font-size: 33px;
  position: absolute;
  top: 110px;
  left: 50px;
}

.word-wrap span {
  margin-bottom: 40px;
}

.word-wrap span.green {
  margin-left: -8px;
  background-color: #7EFC37;

}

.word-wrap span.blue {
  background-color: #3EEBFE;
}

.option-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-col h4 {
  font-size: 29px;
  font-weight: 600;
  margin-top: 45px;
  padding: 0 50px;
  line-height: 1.4;
}

.option-wrap li {
  background-image: url("../assets/option-bg.svg");
  background-size: 100% 100%;
  background-position: center;
  width: 370px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: relative;
  cursor: pointer;
}

.option-wrap li.wrong::before {
  content: "";
  width: 379px;
  height: 115px;
  background-color: red;
  position: absolute;
  top: -5px;
  left: -6px;
  z-index: -1;
  border-radius: 40px;
}

.sub-title {
  font-size: 25px;
  padding: 0 50px;
  display: block;
}

.question-listing {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-top: 200px;
}

.question-listing li {
  background-image: url("../assets/q-listing.svg");
  background-size: 100% 100%;
  background-position: center;
  width: 80px;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.blank,
.quiz-blank {
  display: inline-block;
  height: 40px;
  width: 270px;
  flex: 0 0 auto;
  margin-left: 12px;
  border-bottom: 5px solid #000;

}

.blank.correct,
.quiz-blank.correct {
  height: auto;
  border-bottom: none;
  width: auto;
}

.blank.selected,
.quiz-blank.selected {
  background-color: #FFEB3B;
}

#option-list li {
  position: relative;
}

.answer-list li.wrong::before {
  content: "";
  height: 136px;
  width: 281px;
  background-color: red;
  position: absolute;
  top: -5px;
  left: -6px;
  z-index: -1;
  border-radius: 40px;
}

.answer-list li.disabled {
  pointer-events: none;
}

.bottom-box {
  background-image: url("../assets/option-bg.svg");
  background-size: 100% 100%;
  background-position: center;
  width: 370px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  bottom: -47px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 3.4;
}

.subject-list li.active {
  filter: drop-shadow(-1px 1px 13px rgb(255, 225, 0));
}

#subject-list li.category-1 .bottom-box,
#subject-list li.category-2 .bottom-box,
#subject-list li.category-3 .bottom-box,
#subject-list li.category-4 .bottom-box {
  display: block !important;
}

.question-listing li.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.abhyas-label {
  position: absolute;
  top: 0;
  left: 100px;
  background-image: url("../assets/abhyas-label.svg");
  height: 85px;
  width: 196px;
  background-size: 100% 100%;
}

.question-list li.disabled {
  pointer-events: none;
}

.bottom-box.show {
  display: block !important;
}