
      #app-container {
        width: 700px;
        margin: 0 auto;
      }
      /* #p5-container {
        width: 700px;
        height: 450px;
        margin: 20px 0;
        padding: 10px;
        position: relative;
        overflow: hidden;
      } */
      #groupSlider {
        width: 80%;
        margin-top: 10px;
      }
      #slider-label {
        font-size: 18px;
        margin-top: 0px;
        display: none;
      }
      /* #new-problem-btn {
        position: absolute;
        margin-bottom: 0px;
      } */