:focus {
  outline: 0 !important;
  box-sizing: border-box
}

svg * {
  -webkit-tap-highlight-color: transparent
}

#lac-operation body {
  box-sizing: border-box;
  outline: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #EBFFDA !important
}

#lac-operation .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important
}

#lac-operation .container::after {
  content: "";
  /* background-image: url(../assets/bg.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EBFFDA;
}

#lac-operation .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#lac-operation .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0 20px 20px;
  background: #E63967;
  white-space: nowrap
}

#lac-operation .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: rgb(0 0 0 / 20%)
}

#lac-operation .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1
}

#lac-operation svg {
  width: 100% !important;
  height: 100%
}

/* swar ki pehchan style */