*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}

#tally-marks body {
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#tally-marks .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#tally-marks .container::after {
  content: "";
  /* background-image: url("./../assets/BG.png"); */
  background-color: #3F3886;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #tally-marks .mainContainerOuter {
  background: #60360D !important
} */

#tally-marks .button-controls {
  background: 0 0 !important;
  border: none !important
}

#tally-marks .d-flex {
  display: flex
}

#tally-marks .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#tally-marks .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#tally-marks .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #tally-marks .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#tally-marks .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#tally-marks .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#tally-marks .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#tally-marks .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#tally-marks .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#tally-marks .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#tally-marks .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#tally-marks .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #0295FC;
  white-space: nowrap;
}

#tally-marks .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: #bbb;
}

#tally-marks .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#tally-marks svg {
  width: 100% !important;
  height: 100%;
}

/* tally mark style  */

.main-wrapper {
  display: flex;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden
}

.left-col,
.right-col {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  font-size: 28px
}

.left-col {
  width: 28%;
  padding: 20px 50px;
  background-color: #E4F7F1;
}

.title-wrap {
  background-color: #5DCFD3;
  padding: 15px 40px;
  border-radius: 50px;
  width: fit-content;
  margin: 0 auto;
  font-weight: 600;
  white-space: nowrap;
}

.middle-title {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.control-wrapper {
  background-color: #F9F1DF;
  border: 1px solid #CFC2A9;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  margin-top: 20px;
}

.icon-wrapper {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 10px 0 20px 0;
}

.icon-wrapper li {
  height: fit-content;
  background-color: #fff;
  border: 4px solid #CFC2A9;
  height: 90px;
  width: 90px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#main-handler {
  cursor: pointer;
}

#main-handler.disabled-handler {
  opacity: 0.4;
  pointer-events: none;
}

.icon-wrapper li.active {
  border: 4px solid #008D00;
}

.icon-wrapper.disabled-icons {
  pointer-events: none;
}

.icon-wrapper.disabled-icons li {
  opacity: 0.5;
}

.icon-wrapper.disabled-icons li.active {
  border-color: #008D00;
  opacity: 1;
}



.desc-wrap {
  margin: 20px 0;
}

.middle-col {
  width: 32%;
  background-color: #BFE3D8;
  padding: 20px;
  font-size: 28px;
}

.right-col {
  background-color: #E4F7F1;
  font-size: 25px;
  width: 40%;
  padding: 20px
}

.btn-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.images-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  margin-top: 20px;
}

.images-wrapper img {
  height: 45px;
  width: auto;
}

.common-btn {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #000;
  padding: 40px 30px 30px 40px;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 210px;
  cursor: pointer;
}

.common-btn::before {
  content: "";
  margin-right: 10px;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block
}

.common-btn.next-btn {
  padding-right: 60px
}

.common-btn.next-btn::before {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5139_966' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='60' height='60'%3E%3Cpath d='M60 0H0V60H60V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5139_966)'%3E%3Cpath d='M30.033 -0.0649414C35.9731 -0.0649414 41.7797 1.69651 46.7186 4.99667C51.6576 8.29683 55.507 12.9875 57.7801 18.4754C60.0531 23.9633 60.6478 30.0021 59.4888 35.8279C58.3298 41.6538 55.4692 47.0052 51.2688 51.2053C47.0684 55.4054 41.7169 58.2656 35.8909 59.4242C30.065 60.5828 24.0263 59.9878 18.5385 57.7144C13.0507 55.4409 8.36033 51.5912 5.0605 46.652C1.76067 41.7129 -0.000395502 35.9061 6.66243e-08 29.9661C0.000530477 22.0012 3.16495 14.3627 8.79717 8.73081C14.4294 3.09897 22.0681 -0.0649414 30.033 -0.0649414Z' fill='%230068BB'/%3E%3Cpath d='M30.0339 7.68799C34.44 7.68838 38.747 8.9953 42.4103 11.4435C46.0737 13.8917 48.9288 17.3711 50.6147 21.4419C52.3005 25.5127 52.7414 29.992 51.8816 34.3134C51.0218 38.6348 48.8998 42.6042 45.7841 45.7196C42.6684 48.835 38.6988 50.9566 34.3774 51.8161C30.0559 52.6755 25.5767 52.2342 21.506 50.548C17.4354 48.8617 13.9561 46.0063 11.5083 42.3428C9.06042 38.6792 7.75391 34.3721 7.75391 29.966C7.75391 27.0402 8.33019 24.1431 9.44989 21.4401C10.5696 18.7371 12.2107 16.2811 14.2797 14.2123C16.3486 12.1436 18.8048 10.5027 21.5079 9.38321C24.211 8.26375 27.1081 7.68773 30.0339 7.68799Z' fill='%232196F3'/%3E%3Cpath d='M35.6649 25.6432L20.0781 41.23L24.4021 45.5539L39.9888 29.9672L35.6649 25.6432Z' fill='black'/%3E%3Cpath d='M24.4021 14.3801L20.0781 18.7041L35.6649 34.2909L39.9888 29.9669L24.4021 14.3801Z' fill='black'/%3E%3C/g%3E%3C/svg%3E%0A");
  position: absolute;
  right: 70px;
  height: 60px;
  width: 60px
}

#activity-title {
  font-size: 28px;
  font-weight: medium;
  background-color: #20e8ea;
  margin: 0 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
  text-align: center;
  line-height: 1.3
}

.table-main {
  font-size: 28px;
  border-radius: 15px;
  border-collapse: collapse;
}

.table-main th,
.table-main td {
  border: 1px solid #75BEC0;
  padding: 10px 25px;
  text-align: center;
}

.table-main th {
  background-color: #B7ECEE;
}

.table-main td {
  background-color: #F5FFFC;
}


.tally-group {
  display: inline-flex;
  align-items: center;
  margin-right: 10px
}

#answer-table {
  margin-top: 40px
}

.setKey-txt {
  font-size: 28px;
  display: block;
}

.small-txt {
  font-size: 18px;
  line-height: 2;
}

.inp-wrapper {
  display: flex;
  align-items: center;
  margin: 10px auto;
  justify-content: center;
  gap: 5px;
  font-size: 24px;
}

.inp-wrapper .input-box {
  border: 2px solid #CFC2A9;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  font-size: 30px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

.count-txt {
  color: #008D00;
  font-weight: 700;
  font-size: 26px;
  width: 40px;
}

.inp-wrapper .divider {
  display: inline-block;
  margin: 0 5px;
}

.input-box img {
  height: 100%;
  width: 100%;
}

.input-box img[src=""],
.input-box img:not([src]) {
  opacity: 0;
}

.resetSetting-btn {
  background-color: #2196F3;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 10px 0;
  display: inline-block;
}

.count-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.count-list li {
  background-color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  position: relative;
}

.count-list li .left-sec {
  overflow: hidden;
  width: 57%;
}

.count-list li .right-sec {
  width: 28%;
}

.counter-btns {
  background-color: #FF2C68;
  padding: 4px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 22px;
  min-width: 70px;
  text-align: center;
}

.counter-btns.disabled {
  opacity: .4;
}

.count-wrapper {
  text-align: end;
  margin-left: auto;
  display: block;
  color: #0F7000;
  font-size: 20px;
  line-height: 1;
}

.current-count.wrong {
  color: #FF2C68;
}

.counter-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
  justify-content: flex-end;
}

.imgaes-wrapper {
  margin-top: 20px;
}

.imgaes-wrapper img {
  height: 55px;
  width: 55px;
}

.counter-btns.btnFull-plus,
.counter-btns.btnHalf-plus {
  background-color: #4CAF50;
}

.feedback {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 230px;
  top: 58px;
}

.feedback.correct {
  background-image: url("../assets/correct.svg");
  cursor: pointer;
}

.feedback.wrong {
  background-image: url("../assets/wrong.svg");
  cursor: pointer;
}

.solution-wrapper {
  position: absolute;
  background-color: #EAFFEB;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 30px;
  border: 3px solid #4CAF50;
  border-radius: 10px;
}

.backdrop {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
}

.solution-title {
  background-color: #4CAF50;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 0;
  padding: 10px 40px;
  font-size: 32px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.close-btn {
  background-image: url("../assets/close-btn.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 70px;
  width: 70px;
  position: absolute;
  top: -26px;
  right: -30px;
  cursor: pointer;
}

.solution-wrapper .left-sec {
  width: 93% !important;
}

.solution-wrapper .right-sec {
  position: absolute;
  top: 10px;
  right: 10px;
}

.solution-wrapper .category-name {
  font-size: 25px;
}

.solution-wrapper .images-wrapper {
  margin-top: 15px;
}

.resetSetting-btn.disabled {
  opacity: .4;
  pointer-events: none;
}

.correct-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFCA7;
  border: 3px dotted #00640A;
  padding: 50px 100px;
  color: #00640A;
  border-radius: 10px;
  white-space: nowrap;
}