*:focus,
*:focus {
  outline: none !important;
  box-sizing: border-box;
  /* Removes the standard browser focus ring */
}

svg * {
  -webkit-tap-highlight-color: transparent;
}

#reading-slope body {
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#reading-slope .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#reading-slope .container::after {
  content: "";
  /* background-image: url("./../assets/bg.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #AD7163;
}

/* #reading-slope .mainContainerOuter {
  background: #60360D !important
} */

#reading-slope .button-controls {
  background: 0 0 !important;
  border: none !important
}

#reading-slope .d-flex {
  display: flex
}

#reading-slope .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#reading-slope .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#reading-slope .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #reading-slope .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

#reading-slope .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#reading-slope .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#reading-slope .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#reading-slope .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#reading-slope .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#reading-slope .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#reading-slope .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#reading-slope .wdgetTitle h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #491803;
  white-space: nowrap;
}

#reading-slope .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: rgb(0 0 0 / 20%);
}

#reading-slope .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#reading-slope svg {
  width: 100% !important;
  height: 100%;
}

/* Slope style  */
.step-conatiner {
  height: 100%;
  width: 100%;
  /* padding: 10px; */
}

.slope-list-wrapper {
  border-radius: 20px;
  background-color: #F7DDC7;
  padding: 100px;
  margin-bottom: 30px;

}

.slope-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
}

.slope-list li.completed .img-wrapper {
  background-color: #C0FFA9;
  border-color: #45E417;
}

.slope-list li.completed .img-wrapper::after {
  content: "";
  background-image: url("../assets/complete-icon.svg");
  background-repeat: no-repeat;
  height: 90px;
  width: 90px;
  background-size: 100% 100%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.slope-list li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, .3));
  cursor: pointer;
}

.img-wrapper {
  border: 4px solid #644A02;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  height: 130px;
  width: 200px;
  background-color: #FFF6C3;
  display: flex;
  align-items: flex-end;
  margin-bottom: -2px;
}

.img-wrapper img {
  height: auto;
  width: 100%;
}

.img-label {
  padding: 20px;
  background-color: #644A02;
  border-radius: 15px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  width: 250px;
}

.i-text {
  font-size: 28px;
  font-weight: 500;
  font-style: italic;
  color: #6D0000;
  text-align: center;
}

.main-container {
  display: flex;
  height: 100%;
  gap: 40px;
}

.main-container .left-col {
  width: 50%;
  background-color: #F7CCAB;
  border-radius: 20px;
  position: relative;
  padding: 50px;
  box-sizing: border-box;
}

.main-container .right-col {
  width: 50%;
  background-color: #FFF0BE;
  border-radius: 20px;
  position: relative;
  padding: 60px 20px 20px 20px;
  box-sizing: border-box;
  position: relative;
}

.slopeCategory {
  display: flex;
  list-style-type: none;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.slopeCategory li {
  border: 2px solid #644A02;
  background-color: #fff;
  height: 100%;
  padding: 50px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
  position: relative;
  cursor: pointer;
}

.slopeCategory li.active {
  background-color: #FFEDB4;
}

.slopeCategory li .item-img {
  height: 80px;
  width: auto;
  min-width: 140px;
  object-fit: contain;
  max-width: 140px;
}

.selected-year {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #644A02;
  color: #fff;
  font-size: 22px;
  padding: 5px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 700;
  white-space: nowrap;
}

.slope-title {
  font-size: 30px;
  color: #fff;
  background-color: #644A02;
  display: inline-block;
  padding: 10px 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  top: 0;
}

.line-marker {
  position: absolute;
}

.line-marker text {
  cursor: pointer;
}

.line-marker.conical-hill {
  top: 100px;
  right: 32px;
}

.line-marker.saddle {
  top: 60px;
  right: 35px;
}

.line-marker.ridge {
  top: 75px;
  right: 25px;
}

.line-marker.plateau {
  top: 105px;
  right: 36px;
}

.line-marker.concave-slope {
  top: 63px;
  right: 33px;
}

.line-marker.irregular-slope {
  top: 63px;
  right: 51px;
}

.insight-current {
  border: 4px solid #FFDF78;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  bottom: 250px;
  left: 30px;
  padding: 30px 30px 50px 30px;
  width: 800px;
  min-height: 540px;
}

#insight-current-img {
  height: 340px;
  width: 100%;
  margin-bottom: 30px;
}

#insight-current-desc,
#insight-current-title {
  font-size: 30px;
  margin: 0;
}

#insight-current-title {
  margin-bottom: 20px;
}

.close-insight {
  background-image: url("../assets/close-btn.svg");
  height: 70px;
  width: 70px;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}

.modal-open::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: -1;
}

#insight-container.insight-open {
  background-color: rgba(0, 0, 0, .75);
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftBtn-wrppewer,
.rightBtn-wrppewer {
  display: flex;
  gap: 20px;
}

.leftBtn-wrppewer img,
.rightBtn-wrppewer img {
  cursor: pointer;
}

.next-btn.disabled {
  opacity: .4;
  pointer-events: none;
}

.prev-btn.disabled {
  opacity: .4;
  pointer-events: none;
}

.correct-lottie {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
  display: none;
}

.show-ans-btn.disabled {
  opacity: .4;
  pointer-events: none
}

#right-col.correct::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #f7ddc7c7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 20px;
}

.i-text.active {
  display: none;
}

.main-container.correct .left-col::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #f7ddc76e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 20px;
}

.insight-btn,
#home-btn {
  cursor: pointer;
}

.finalimg-wrapper {
  position: relative;
}

@keyframes fillFromBottom {
  from {
    clip-path: inset(100% 0 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

.final-img {
  position: absolute;
  height: auto;
  clip-path: inset(100% 0 0 0);
  /* Start clipped */
}

.final-img.animated {
  animation: fillFromBottom 1.5s ease-out forwards;
}

.final-img.img-conical {
  bottom: -30px;
  width: 530px;
  right: 143px;
}

.final-img.img-saddle {
  bottom: -29px;
  width: 665px;
  right: 50px;
}

.final-img.img-ridge {
  bottom: -95px;
  width: 769px;
  right: 26px;
}

.final-img.img-plateau {
  bottom: -36px;
  width: 525px;
  right: 125px;
}
.reset-btn.disabled{
  opacity: .4;
  pointer-events: none;
}