:focus {
  outline: 0 !important;
  box-sizing: border-box
}

svg * {
  -webkit-tap-highlight-color: transparent
}

#reading-slope body {
  box-sizing: border-box;
  outline: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important
}

#reading-slope .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important
}

#reading-slope .container::after {
  content: "";
  background-image: url(../assets/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #809754
}

#reading-slope .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 1
}

#reading-slope .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 5px 40px;
  color: #fff;
  border-radius: 0 0 20px 20px;
  background: #8e0000;
  white-space: nowrap
}

#reading-slope .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: rgb(0 0 0 / 20%)
}

#reading-slope .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1
}

#reading-slope svg {
  width: 100% !important;
  height: 100%
}

/* Soil type style  */
.step-conatiner {
  height: 100%;
  width: 100%;
  border-radius: 20px
}

.soil-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center
}

.soil-list li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, .3));
  cursor: pointer;
  position: relative;
}

.img-wrapper-list {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 300px;
  width: 460px;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  padding-top: 70px;
}

.img-wrapper img {
  height: auto;
  width: 100%
}

.img-label {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 30px;
  color: #6F3000;
  text-align: center;
  font-weight: 600;
  width: 250px;
  position: absolute;
  bottom: -20px;
}

.i-text {
  font-size: 28px;
  font-weight: 500;
  font-style: italic;
  color: #6d0000;
  text-align: center
}

.main-container {
  display: flex;
  height: 100%;
  gap: 40px
}

.slope-title {
  font-size: 30px;
  color: #fff;
  background-color: #e95959;
  display: inline-block;
  padding: 10px 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  top: 0
}

.soil-step-wrapper {
  display: flex;
  gap: 40px;
  height: 100%;
}

.left-col {
  width: 45%;
}

.right-col {
  width: 55%;
  background-color: rgba(0, 0, 0, .17);
  border-radius: 10px;
  padding-top: 30px;
  flex: 0 0 auto;
  position: relative;
}

.soil-type {
  width: 680.7px;
  height: 677.36px;
  position: relative;
  /* height: /; */
}

.soil-type::before {
  content: "";
  background-image: url("../assets/paper-bg.svg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(3.5deg);
  z-index: -1;
}

.mountain-soil {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  font-size: 30px;
  padding: 20px 40px;
  border-radius: 10px;
  white-space: nowrap;
  color: #6F3000;
  font-weight: 700;
}

.img-wrapper-list {
  position: relative;
}

.note-wrapper {
  text-align: center;
  margin: 60px auto 0 auto;
  line-height: 1.3;
  max-width: 60%;

}

.note-txt {
  margin-top: 40px;
  color: #D10404;
  font-style: italic;
}

.note-wrapper p {
  font-size: 30px;
}

.show-ansBtn {
  background-color: #4CAF50;
  color: #fff;
  font-size: 30px;
  padding: 15px 30px;
  border-radius: 50px;
}

.backNext-btn span {
  background-color: #4CAF50;
  color: #fff;
  font-size: 30px;
  padding: 15px 30px;
  border-radius: 50px;
  margin: 0 20px;
}

.btn-wrappers {
  margin-top: 180px;
  text-align: center;
  position: relative;
}

.backNext-btn {
  margin-top: 70px;
}

.backNext-btn span {
  background-color: #2196F3;
  border-radius: 10px;
  margin-top: 20px;
}

.error-note {
  font-size: 26px;
  margin-bottom: 20px;
  display: inline-block;
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 60px;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, .3);
  white-space: nowrap;
  font-weight: 600;
}

.error-note.wrong {
  background-color: #FFDCDC;
  color: #FF0000;
  border: 3px dotted #FF0000;
}

.error-note.correct {
  background-color: #DCFFDD;
  color: #00D115;
  border: 3px dotted #00D115;
}

.preview-btn {
  position: absolute;
  bottom: -30px;
  right: 50%;
  transform: translateX(50%);
  width: 280px;
  height: auto;
  cursor: pointer;
}

.option-list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  margin-top: 50px;
}

.option-list li {
  position: relative;
}

.option-list li img {}

.bottom-note {
  background-color: #FAFFB1;
  color: #6F3000;
  font-size: 26px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  white-space: nowrap;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 600;
}

.reset-btn {
  background-color: #FF2C68;
  font-size: 30px;
  border-radius: 50px;
  padding: 15px 30px;
  margin: 0 auto;
  color: #fff;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.summary-sec p {
  font-size: 28px;
  margin-bottom: 30px;
  line-height: 1.3;
}

.summary-sec {
  background-color: #FFFEEC;
  border: 3px solid #6F3000;
  border-radius: 10px;
  padding: 50px;
  font-size: 28px;
  position: relative;
}

.summary-sec .summary-title {
  margin: 0;
  margin-bottom: 30px;
}

.title-txt {
  font-weight: 600;
  color: #000;
}

.summary-header {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
  padding: 15px 30px;
  border-radius: 10px;
  color: #6F3000;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.preview-popup {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  border: 3px solid #6F3000;
  text-align: center;
}

.close-popup {
  background-image: url("../assets/close-btn.svg");
  position: absolute;
  top: -40px;
  height: 80px;
  width: 80px;
  background-size: 100%;
  right: -40px;
}

#mountain-soil-map.correct path {
  fill: #C46B39;

}

#red-soil-map.correct path {
  fill: #E0CF9B;
}

#lateritic-soil-map.correct path {
  fill: #B34620;
}

#black-soil-map.correct path {
  fill: #312E2B;
}

#alluvial-soil-map.correct path {
  fill: #7A592B;
}

#desert-soil-map.correct path {
  fill: #FFA300;
}

#reading-slope .disabled {
  opacity: .4;
  pointer-events: none;
  cursor: not-allowed;
}

.lottie-container {
  position: absolute;
  top: -50px;
  height: 120px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.soil-list li.completed::after {
  content: "";
  background-image: url("../assets/completed.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  height: 100px;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
}