*:focus,
*:focus {
  outline: none !important;
  /* Removes the standard browser focus ring */
}

svg * {
  -webkit-tap-highlight-color: transparent;
}

#shabda-wrapper body {
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: #fff !important;
}

#shabda-wrapper .container {
  border: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  user-select: none !important;
}

#shabda-wrapper .container::after {
  content: "";
  background-image: url("./../assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* #shabda-wrapper .mainContainerOuter {
  background: #60360D !important
} */
.role-img {
  width: 100%;
  height: auto;
}

#shabda-wrapper .button-controls {
  background: 0 0 !important;
  border: none !important
}

#shabda-wrapper .d-flex {
  display: flex
}

#shabda-wrapper .question {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#shabda-wrapper .flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 1
}

#shabda-wrapper .flexItem {
  padding: 8px;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  align-items: center
}

@media (max-width:768px) {
  #shabda-wrapper .flexItem {
    width: 100%;
    margin: 8px 0
  }
}

.bubble.wrong::before {
  content: "";
  background: #ff002682 !important;
  border: 11px solid #ff0000 !important;
  color: #C62828 !important;
  animation: shake 0.4s ease !important;
  height: 240px;
  width: 240px;
  position: absolute;
  border-radius: 50%;
}

#shabda-wrapper .btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #1e6bef;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color .3s ease, transform .2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-right: 10px
}

#shabda-wrapper .btn:hover {
  background-color: #3e80f3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .15)
}

#shabda-wrapper .btn-primary:active {
  background-color: #3e80f3;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#shabda-wrapper .btn:focus {
  outline: 3px solid #1e6bef;
  outline-offset: 3px
}

#shabda-wrapper .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
}

#shabda-wrapper .btn:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none
}

#shabda-wrapper .wdgetTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  left: 0;
  top: 0;
  z-index: 2;
}

#shabda-wrapper .wdgetTitle h2 {
  font-size: 23px;
  font-weight: 600;
  text-align: left;
  padding: 8px 40px;
  color: #fff;
  border-radius: 0 0px 20px 20px;
  background: #e30064;
  white-space: nowrap;
}

#shabda-wrapper .versionText {
  position: absolute;
  right: 20px;
  top: 10px !important;
  font-size: 12px;
  color: rgb(0 0 0 / 20%);
}

#shabda-wrapper .svg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#shabda-wrapper svg {
  width: 100% !important;
  height: 100%;
}

img.step-image {
  height: 90px;
  width: 110px;
}

/* #full-plate {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 0px;

  align-items: center;
  justify-items: center;
  box-sizing: border-box;
}

#full-plate img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  display: block;
} */

#full-plate {
  width: 280px;
  height: 260px;
  position: relative;
  border-radius: 50%;
}

/* Common food image style */
#full-plate img {
  position: absolute;
  width: 70px;
  height: 70px;
  object-fit: contain;
  transform: translate(-75%, -80%);
}

/* Place foods around the circle */
#food-1 {
  left: 49%;
  top: 23%;
}

#food-2 {
  left: 77%;
  top: 34%;
}

#food-3 {
  left: 78%;
  top: 64%;
}

#food-4 {
  left: 50%;
  top: 80%;
}

#food-5 {
  left: 23%;
  top: 65%;
}

#food-6 {
  left: 20%;
  top: 37%;
}

.minerals-title {
  padding: 15px 30px;
  font-size: 46px;
  text-align: center;
  margin-bottom: 50px;
}

.minerals {
  padding: 15px 30px;
  background-color: #ff0000;
  font-size: 24px;
  border-radius: 40px;
}

.minerals.carbohydrates {
  background-color: #ffcc8a;
}

.minerals.proteins {
  background-color: #88e79f;
}

.minerals.vitamins-minerals {
  background-color: #febdbd;
}

.minerals-scale-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#feedback-msg-text-container {
  margin-top: 30px;
}

#feedback-msg-text-container p {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 12px;
}